<div data-role="page" class="wrapper" id="page1">

  <%= erb :'components/navbar' %>
    
      <div data-role="main" class="body">
        <div class="container first-page">
          <div class="pure-g">
            <div class="pure-u-1">
              <div class="class-information register" style="margin-bottom: 40px;">
                <h1 class="join-header" style="font-size: 1.8em; font-weight: normal; display: inline-block;margin-bottom:0px;"><%= text[:call_to_action] %></h1>
                <img src="/images/icons/apple-fun.png" style="display:inline-block;width: 40px; height: auto; margin-top:-10px;" alt="">
                <h1 style="margin-top: 0px; margin-bottom: 0px;font-size:1.8em;"><%= text[:class] %></h1>
                <p class="school-name"><%= school %></p>
              </div>

              <div class="login-form">
                <form id="register"> 
                  <div class="signup-setup">
                    <div class="field" id="signup-field">
                       <label class="label"><%= text[:full_name] %></label>
                      <input name="name" placeholder="<%= text[:full_name_placeholder] %>" class="input" required>
                        <label class="label"><%= text[:phone_number] %></label>
                      <input name="phone" placeholder="(555) 555-5555" class="input" required>
                      <input type="hidden" name="teacher_id" value="<%= teacher_id %>">
                      <input type="hidden" name="locale" value="<%= locale %>">
                      <input type="hidden" name="class_code" value="<%= class_code %>">
                    </div>
                   
                        <a id="page1link" class="transition-link ui-btn web-mobile-signup-button" href="#page2" data-transition="fade">  
                          <%= text[:sign_up] %>
                          <!-- <button data-transition="fade" action="#page2" class="web-mobile-signup-button" type="submit"><%= text[:sign_up] %></button> -->
                        </a>


                  </div>
                </form>
              </div>

            <div class="privacy-policy">
              <p><%= text[:privacy_policy] %></p>
            </div>
          </div>

        </div> <%# end pure-g %>


          
      </div> <%# container %>
    </div> <%# body %>

  </div>