<div class="container">
  <div class="page-header">
    <div class="mobile-navbar">
      <a class="navbar-menu" href="/auth/logout">Logout</a></li>
    </div>
    <h1><%= session[:school]['name'] %></h1>

    <div class="navbar-buttons">
      <a id="logout" class="navbar-menu" href="/auth/logout">Logout</a>
      <a href="mailto:hello@joinstorytime.com?&subject=Storytime Help"><button type="button" id="get-help" class="btn btn-primary btn-lg outline navbar-menu">Help</button></a>
      <a href="/app" id="get-dat-app-link" target="_blank"><button type="button" id="get-help" class="btn btn-primary btn-lg outline navbar-menu">Get the app</button></a>
      <!-- <button type="button" class="btn btn-primary btn-lg outline navbar-menu">Add people</button> -->
      <button type="button" id="top-button" class="btn btn-primary btn-lg outline navbar-menu signup-button" data-toggle="modal" data-target="#inviteTeachersModal">
                  Invite teachers
                  </button>

    </div>
  </div>

    <!-- Invite teachers Modal -->
  <div class="modal fade" id="inviteTeachersModal" role="dialog" tabindex='-1'>
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
  
        <div class="modal-body">

          <!-- begin invite-by-phone -->
            <div class="main-box by-phone" id="main-envelope">

              <% @sample_names = ["Mrs. Doe", "Ms. Smith", "Mr. Jones", "Mr. Johnson", "Mr. Vandelay"] %>
              <% @sample_phones = ["jane.doe@storytime.edu", "alice.smith@storytime.edu", "john.jones@storytime.edu", "bob.johnson@storytime.edu", "art.vanelay@storytime.edu"] %>

                <div id="logo-container">
                  <div id="jobs">
                    <h2 class="our_team enroll_header">Invite Teachers.</h2>
                  </div>
                </div>

                <!-- <img class="flyer-image phone-image enroll-image" src="https://s3.amazonaws.com/st-webpage/assets/phone-text-2.png"> -->

                <form class="enroll-teacher-class invite-teachers" action="enroll_teachers_form_success" method="post">     
                  <div class="enroll group-invite">
                    <div class="box-header">
                      <h2 class="box-header-title">Enter emails below</h2>
                      <h3 class="box-header-subtext">
                        Teachers will get their classroom flyers to start sharing.
                      </h3>
                    </div>
                    <div class="box-body">
                      <div class="row row-small">
                        <div class="table-input">
                          <header class="table-input-header-row">
                            <span class="table-input-cell-validation table-input-cell">
                            </span>
              
                            <div class="table-input-header-cell table-input-cell"> Teacher title</div>
                            <div class="table-input-header-cell table-input-cell"> Teacher email
                            </div>

                          </header>

                          <div class="table-input-container">
                            <div class="table-input-body">
                              <input type="hidden" name="school_id" value=<%= session[:school]['id'] %> />
                              <input type="hidden" name="admin_id" value=<%= session[:educator]['id'] %> />

                              <input type="hidden" name="school_sig" value=<%= session[:school]['signature'].delete(' ') %> />
                              <input type="hidden" name="admin_sig" value=<%= session[:educator]['signature'].delete(' ') %> />
                              <%25.times do |idx| @idx = idx; @new_idx= idx % @sample_names.count%>
                                <span class="table-input-body-row">
                                  <span class="table-input-cell-validation table-input-cell">
                                  </span>

                                  <span class="table-input-body-cell table-input-cell">
                                    <div class="form-cell-input">
                                      <input name="<%="name_".concat @idx.to_s%>" value placeholder= "<%=@sample_names[@new_idx]%>">
                                    </div>
                                  </span>
                
                                  <span class="table-input-body-cell table-input-cell">
                                    <div class="form-cell-input">
                                      <input name="<%="email_".concat @idx.to_s%>" value placeholder="<%=@sample_phones[@new_idx]%>" >
                                    </div>
                                  </span>
                                </span>
                              <%end%>
                            </div>

                          </div>
                        </div>
                      </div>
            
                        <button class="Button-ready" type="submit">Invite class</button>          
                    </div>
                  </div>
                </form>
              </div>

            <!-- end invite-by-phone -->

        </div>
      </div>
    </div>
  </div> <%# end invite teachers modal %>

  <% if session[:educator]['signin_count'] == 0 and school_users.size == 0 # the admin has never signed in  %>
      <%= erb :dashboard_tutorial %>

  <% else # the admin has signed in before %>

      <div class="pure-g welcome">
          <div class="pure-u-sm-1-3 pure-u-1">
            <% if school_users.size == -1 %>
              <h2><b>Welcome!</b></h2>
              <h3><i>Let's start by inviting your class.</i></h3>
            <% else %>
              <img class="apple" style="margin-right: 0px;" id="apple" src="/images/fresh-apple-icon.png" alt="">
              <h3 class="apple">Reading Totals</h3>
            <% end %>

          </div>

          <% if school_users.size == -1 %>
            <div class="pure-u-2-3 paper-plane">      
              <img id="paper-plane" src="/images/paper-plane.png" alt="">
            </div>

          <% else %>
            <div class="pure-u-sm-1-3 pure-u-1 paper-plane">
              <div class="stats-wrapper">
                <div class="stats total" style="text-align: center;">
                  <% weekly_books = school_users.inject(0) {|sum, user| sum += user['this_month'] } %>
                  <h1><%= weekly_books > 0 ? weekly_books : '-' %></h1>
                  <p>Books</p>
                  <small style="font-size: 1.23em; color: black;"><i>read this month</i></small>
                </div>
              </div>
              
            </div>
            <div class="pure-u-sm-1-3 pure-u-1 paper-plane">

              <div class="stats-wrapper" style="text-align: left;">
                <div class="stats total">
                  <% reading_time = school_users.inject(0) {|sum, user| sum += user['reading_time'] } %>
                  <h1><%= reading_time > 0 ? reading_time : '-' %></h1>
                  <p>Minutes</p>
                  <small style="font-size: 1.23em; color: black;"><i>spent reading</i></small>
                </div>
              </div>
            </div>
          <% end %>

        
      </div>


          <div class="big-daddy-data">
            <h4><%= session[:school]['signature'] %> Familes (<%= school_users.size %> joined) </h4>

             <div class="panel panel-default header">
              <table class="table fields">
                  <thead>
                    <tr>
                      <th class="user-name-top">Name</th>
                      <th class="user-role-top">Role</th>
                      <th class="date-joined">Date joined</th>
                    </tr>
                  </thead>
              </table>
            </div>

            <% if school_users.size > 0 %>
                <div class="panel panel-default table-body">
               
                  <div class="table-responsive pure-u-sm-1-2 pure-u-2-5 users-table-responsive">
                    <table class="table data users-table">
                      <tbody>
                        <% school_users.sort_by {|u| Time.parse(u['enrolled_on'])}.reverse.each do |user| %>
                            <tr class="user-info" id=<%= user['id'] %> >
                              <% if user['first_name'].nil? or user['first_name'].empty? %>
                                <% user_name = "(not given)" %>
                              <% else %>
                                <% user_name = user['first_name'].to_s + " " + user['last_name'].to_s %>
                              <% end %>
                              <th class="user-name"><%= user_name %></th>
                              <th class="user-role"><%= user['role'] %></th>
                              <th class="date-joined"><%= Time.parse(user['enrolled_on']).strftime("%b %-d, %Y") %></th>
                            </tr>
                        <% end %>
                      </tbody>
                    </table>

                    <div class="leftover-space"></div>

                  </div>
                
                  <div class="pure-u-sm-1-2 pure-u-3-5 the-data">
                    <div class="default-user-info" style="display: none;">
                        <h2>
                          Click on a family to see how they're reading!
                        </h2>
                    </div>

                    <% icons = ['open-book', 'closed-book', 'grade-a', 'spaceship', 'globe', 'dinosaur'] %>
                    <% icon_index = 0 %>

                    <% school_users.sort_by {|u| Time.parse(u['enrolled_on'])}.reverse.each do |user| %>
                      <div class="the-whole-user-thing" id=<%= user['id'] %> style="display: none; margin-top: 1em;">
                        <div class="teacher-imgs">
                            <img src="/images/<%= icons[icon_index] %>-icon.png" alt="" id="teacher-img" style="margin-left: 0px;">
                        </div>
                        <div class="family-header">
                          <!-- <img src="/images/<%= icons[icon_index] %>-icon.png" alt=""> -->
                          <% puts "icon-index = #{icon_index}, #{icons[icon_index]}" %>
                          <% icon_index = (icon_index + 1) % icons.length %>
                          <div class="family-name">
                            <% if user['role'] != 'teacher' and user['role'] != 'admin' %>                              
                              <% if user['last_name'] %>
                                <% family_name = user['last_name'] %>
                              <% elsif user['first_name'] %>
                                <% family_name = user['first_name'] + "'s" %>
                              <% else %>
                                <% family_name = "unnamed" %>
                              <% end %>

                              <h3><%= family_name %></h3>
                              <h3>Family</h3>
                            <% else %>

                              <h3><%= user['first_name'] %></h3>
                              <h3><%= user['last_name'] %></h3>

                            <% end %>

                          </div>
                        </div>

                        <div class="pure-g stats-user">
                            <div class="pure-u-1 pure-u-sm-1-2">
                              <div class="stats user left">
                                <h1><%= user['this_month'] > 0 ? user['this_month'] : '-' %></h1>
                                <p>Books</p>
                                <small style="font-size: 0.945em; color: black;"><i>read this month</i></small>
                              </div>
                            </div>
                            <div class="pure-u-1 pure-u-sm-1-2">
                              <div class="stats user right">
                                <h1 style="display: inline-block;"><%= user['reading_time'] > 0 ? user['reading_time'] : '-' %></h1>
                                <p>Minutes</p>
                                <small style="font-size: 0.945em; color: black;"><i>spent reading</i></small>
                              </div>
                            </div>
                        </div> <%# end nested pure-g %>


                      </div>
                    <% end %>

                  </div>
                </div> <%# panel-default table-body %>


              <% else %> <%# there are 0 school_users.... %>
                       <div class="panel panel-default table-body">
               
                  <div class="table-responsive pure-u-sm-1-2 pure-u-2-5 users-table-responsive">
                    <table class="table data users-table">
                      <tbody>

                            <tr class="user-info">
                              <th class="user-name">No one has joined yet.</th>
                            </tr>
                      </tbody>
                    </table>

                    <div class="leftover-space"></div>

                  </div>
                
                  <div class="pure-u-sm-1-2 pure-u-3-5 the-data">
                    <div class="default-user-info" style="display: none;">
                        <h2>
                          Click on a family to see how they're reading!
                        </h2>
                    </div>

                    <% icons = ['open-book', 'closed-book', 'grade-a', 'spaceship', 'globe', 'dinosaur'] %>
                    <% icon_index = 0 %>

                    <% school_users.sort_by {|u| Time.parse(u['enrolled_on'])}.reverse.each do |user| %>
                      <div class="the-whole-user-thing" id=<%= user['id'] %> style="display: none; margin-top: 1em;">
                        <div class="teacher-imgs">
                            <img src="/images/<%= icons[icon_index] %>-icon.png" alt="" id="teacher-img" style="margin-left: 0px;">
                        </div>
                        <div class="family-header">
                          <!-- <img src="/images/<%= icons[icon_index] %>-icon.png" alt=""> -->
                          <% puts "icon-index = #{icon_index}, #{icons[icon_index]}" %>
                          <% icon_index = (icon_index + 1) % icons.length %>
                          <div class="family-name">
                            <% if user['last_name'] %>
                              <% family_name = user['last_name'] %>
                            <% elsif user['first_name'] %>
                              <% family_name = user['first_name'] + "'s" %>
                            <% else %>
                              <% family_name = "unnamed" %>
                            <% end %>

                            <h3><%= family_name %></h3>
                            <h3>Family</h3>

                          </div>
                        </div>

                        <div class="pure-g stats-user">
                            <div class="pure-u-1 pure-u-sm-1-2">
                              <div class="stats user left">
                                <h1><%= user['this_month'] %></h1>
                                <p>Books</p>
                                <small style="font-size: 0.945em; color: black;"><i>read this month</i></small>
                              </div>
                            </div>
                            <div class="pure-u-1 pure-u-sm-1-2">
                              <div class="stats user right">
                                <h1 style="display: inline-block;"><%= user['reading_time'] %></h1>
                                <p>Minutes</p>
                                <small style="font-size: 0.945em; color: black;"><i>spent reading</i></small>
                              </div>
                            </div>
                        </div> <%# end nested pure-g %>


                      </div>
                    <% end %>

                  </div>
                </div> <%# panel-default table-body %>
                
              <% end %>

          </div> <%# big-daddy-data %>

      <% end # the signin-count block %> 



</div> <!-- class="container" -->


<script type="text/javascript">
  $(document).ready(function () {
        $('.the-whole-user-thing').first().css('display', 'block');
        $('.user-info').slice(1).addClass('user-info-first-box');
        $('.user-info:first-child').addClass('user-spotlight first-row');
      });

      $(document).ready(function() {
        var isSafari = Object.prototype.toString.call(window.HTMLElement).indexOf('Constructor') > 0 || (function (p) { return p.toString() === "[object SafariRemoteNotification]"; })(!window['safari'] || safari.pushNotification);

        if (isSafari) {
          // $('.table-responsive').css('direction', 'ltr');
          document.styleSheets[0].addRule('.table-responsive::-webkit-scrollbar','width: 0');
          $('th.teacher-name').css('padding-left', '2em');
          $('th.teacher-name').next('th').css('padding-left', '2em');
          $('th.user-name').css('padding-left', '2em');
          // $('-webkit-scrollbar').css('width', '0 !important');
        }
      });

      $(document).ready(function () {
        function getParameterByName(name, url) {
            if (!url) {
              url = window.location.href;
            }
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
        }

        var flyers = getParameterByName('flyers'); // "lorem"

        if (flyers == '1') {
            // get signup modal
            // activate the flyers portion
            var id = 'printer';
            $('#myModal').modal('toggle');
            var sidebar_options = ['easel', 'envelope', 'printer', 'spreadsheet']
            var arr = sidebar_options.filter(function(item) { 
                return item !== id;
            });

            for (var i = 0; i < arr.length; i++) {
                $('#main-' + arr[i]).css('display', 'none'); 
                $('#' + arr[i]).removeClass('active');
            }
            $('#main-' + id).css('display', 'block');
            $('#printer').addClass('active');
        }

      });



      // $(document).ready(function () {
      //   $('#top-button.signup-button').click(function() {
      //     $.ajax({
      //       url: 'teacher/visited_page',
      //       type: 'get',
      //       dataType: 'text',
      //       success: function(data) {
    
      //       },
      //       error: function(xhr) {
    
      //       }
      //     })
      //   }); 
      // });

      $(document).ready(function () {
        $('.user-info').click(function(event) {
          $('.user-info').not(this).removeClass('user-spotlight');
          $(this).addClass('user-spotlight');
          if ($(this).is(':first-child')) {
            $('.user-info').not(this).addClass('user-info-first-box');
            $(this).addClass('first-row');
          } else {
            $('.user-info').not(this).removeClass('user-info-first-box');
            $('.user-info:first-child').removeClass('first-row');
          }

          // $('.user-info').not(this).css('background-color', 'white');
          // $(this).css('background-color', 'rgba(255,240,208,0.35)');

          var id = $(this).attr('id');
          var infoBox = $('#' + id + '.the-whole-user-thing'); 
          $('.the-whole-user-thing').not(infoBox).css('display', 'none');
          infoBox.css('display', 'block');
          $('.default-user-info').css('display', 'none');
        });

        // $('.user-info').hover(function() {
        //   $(this).css('background-color', '#eceff1');
        // });
        // 
        // 
         // get a border on the bottom of the left table panel
        var rows_height = $('.users-table').height();
        // check if this is greater than the height of the table, 27.5em
        var table_height = $('.users-table-responsive').height();

        var leftover_height;

        if (rows_height > table_height) {
          leftover_height = 0;
        } else {
          leftover_height = table_height - rows_height;
        }


        $('.leftover-space').css('height', leftover_height);

        $('.user-info:last-child').css('border-bottom', 'solid rgb(210, 218, 224) 0.5px')
        // $('.teacher-info:last-child').css('border-bottom', 'solid rgb(210, 218, 224) 0.5px')


      });

    



</script>
