<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>StoryTime - Your Class Dashboard</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta name="description" content="StoryTime lets early grade teachers send books by text message to their class's families. Made at Yale, it builds 1 year of literacy growth after just 14 weeks.">
<!--    <meta property="og:url" content="http://joinstorytime.com">
 -->
    <meta property="og:image" content="http://st-webpage.s3.amazonaws.com/assets/redesign/st-og-image-pencil.png">
    <meta property="og:title" content="Storytime | Books by text.">
    <meta property="og:description" content="StoryTime lets early grade teachers send books by text message to their class's families. It builds 1 year of literacy growth after just 14 weeks.">

    <script async src="/js/smooth-scroll.min.js"></script>

    <script async type="text/javascript" src="/js/analytics.js"></script>

  
  <!-- Bootstrap modal files -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Bootstrap modal files -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" src="http://d2yudi7y1eei74.cloudfront.net/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="http://d2yudi7y1eei74.cloudfront.net/stylesheets/bootstrap.min.css">

    <!-- end Boostrap -->

    <!-- end Boostrap -->

    <link href='https://fonts.googleapis.com/css?family=Karla:400,400italic,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="stylesheets/alert.css" type="text/css" />
      
    <!-- This is only needed for below-the-fold content. -->
    <link rel="stylesheet" href="stylesheets/pure-push-pull.css" type="text/css" />

    <link rel="stylesheet" href="stylesheets/fonts.css" type="text/css">
    
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">

    <link rel="stylesheet" href="stylesheets/admin_dashboard.css" type="text/css" />



<!--     <link rel="stylesheet" href="stylesheets/main_new.css" type="text/css" />
    <link rel="stylesheet" href="stylesheets/main.css" type="text/css" />
    <link rel="stylesheet" href="stylesheets/enroll.css" type="text/css" />
 -->    <!-- Favicon and App icon images -->

    <link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/images/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/images/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- Load jQuery and  -->
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/additional-methods.js"></script>

    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">

    <script>
      // hover effect for right arrow
      $(document).ready(function () {
        $('.the-whole-teacher-thing').mouseenter(function() {
          $('.right-arrow').animate({
            opacity: 1.0
          }, 200);
        });

        $('.the-whole-teacher-thing').mouseleave(function() {
          $('.right-arrow').animate({
            opacity: 0.3
          }, 200);
        });
      });

      // clicking rows, selecting users and teachers
      $(document).ready(function () {
        // teachers
        $('.teacher-info').click(function(event) {
          $('.teacher-info').not(this).removeClass('user-spotlight');
          $(this).addClass('user-spotlight');

          if ($(this).is(':first-child')) {
            $('.teacher-info').not(this).addClass('user-info-first-box');
            $(this).addClass('first-row');
          } else {
            $('.teacher-info').not(this).removeClass('user-info-first-box');
            $('.teacher-info:first-child').removeClass('first-row');
          }

          var id = $(this).attr('id');
          var infoBox = $('#' + id + '.the-whole-teacher-thing'); 
          $('.the-whole-teacher-thing').not(infoBox).css('display', 'none');
          infoBox.css('display', 'block');
          $('.default-teacher-info').css('display', 'none');
        });

        // users
        $('.user-info').click(function(event) {
          var parent = $(this).parent();
          $(parent).find('.user-info').not(this).removeClass('user-spotlight');
          $(this).addClass('user-spotlight');

          if ($(this).is(':first-child')) {
            $(parent).find('.user-info').not(this).addClass('user-info-first-box');
            $(this).addClass('first-row');
          } else {
            $(parent).find('.user-info').not(this).removeClass('user-info-first-box');
            $(parent).find('.user-info:first-child').removeClass('first-row');
          }

          var id = $(this).attr('id');
          var infoBox = $('#' + id + '.the-whole-user-thing'); 
          $('.the-whole-user-thing').not(infoBox).css('display', 'none');
          infoBox.css('display', 'block');
          $('.default-user-info').css('display', 'none');
        });


        // get a border on the bottom of the left table panel
        var rows_height = $('.teacher-table').height();
        console.log('rows_height = ' + rows_height);
        // check if this is greater than the height of the table, 27.5em
        var table_height = $('.teacher-table-responsive').height();
        console.log('table_height = ' + table_height);

        var leftover_height;

        if (rows_height > table_height) {
          leftover_height = 0;
        } else {
          leftover_height = table_height - rows_height;
        }

        console.log('leftovers = ' + leftover_height);

        $('.leftover-space').css('height', leftover_height);

        $('.user-info:last-child').css('border-bottom', 'solid rgb(210, 218, 224) 0.5px')
        $('.teacher-info:last-child').css('border-bottom', 'solid rgb(210, 218, 224) 0.5px')

      });

      $(document).ready(function () {
        $('.tabs li').click(function() {
          var id = $(this).attr('id');
          var sidebar_options = ['easel', 'envelope', 'printer', 'spreadsheet']

          var arr = sidebar_options.filter(function(item) { 
              return item !== id;
          });

          console.log(arr)

          for (var i = 0; i < arr.length; i++) {
              $('#main-' + arr[i]).css('display', 'none'); 
              $('#' + arr[i]).removeClass('active');
          }

          $(this).addClass('active');
          $('#main-' + id).css('display', 'block');

        });

      });


    </script>

</head>
<body id="bs-override">

  <!-- Notify about form submission -->
  <% if flash[:teacher_invite_success] %>
    <div id="alert">
        <a class="alert" href="#alert" style="padding: 0px;">Great! We'll send your teachers an invite to join StoryTime.</a>
    </div>
  <% end %>


<div class="container">
  <div class="page-header">

    <div class="mobile-navbar">
      <a class="navbar-menu" href="/logout">Logout</a></li>
    </div>
    <h1><%= session[:school]['name'] %></h1>


    <div class="navbar-buttons">
      <a id="logout" class="navbar-menu" href="/logout">Logout</a>
      <a href="https://storytime.zendesk.com/hc/en-us"><button type="button" id="get-help" class="btn btn-primary btn-lg outline navbar-menu">Get help</button></a>
      <!-- <button type="button" class="btn btn-primary btn-lg outline navbar-menu">Add people</button> -->
      <button type="button" id="top-button" class="btn btn-primary btn-lg outline navbar-menu signup-button" data-toggle="modal" data-target="#inviteTeachersModal">
                  Invite teachers
                  </button>

    </div>

  </div>

  <% teacher_icons = ['open-book', 'spaceship', 'globe', 'closed-book', 'grade-a', 'dinosaur'] %>
  <% teacher_icon_index = 0 %>
  <% teachers.select {|t| t['num_families'] > 0 }.sort_by {|u| u['num_families']}.reverse.each do |teacher| %>
    <div class="modal fade teacherModal" tabindex="-1" id="teacherModal-<%= teacher['id'] %>" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">

        <div class="modal-content">
          
          <div class="modal-body">
            <div class="teacher-title">
              <!-- <img src="/images/fresh-apple-icon.png" alt=""> -->
              <img src="/images/<%= teacher_icons[teacher_icon_index] %>-icon.png" alt="">
              <% teacher_icon_index = (teacher_icon_index + 1) % teacher_icons.length %>
              <h1><%= teacher['signature'] %>'s Class</h1>
            </div>

            <% users = teacher['users'] %>

            <!-- THE REAL SHIT -->
            <div class="big-daddy-data big-user">
              <h4>Class (<%= users.size %> joined) </h4>

               <div class="panel panel-default header">
                <table class="table fields">
                    <thead>
                      <tr>
                        <th class="user-name-top">Name</th>
                        <!-- <th>Date joined</th> -->
                      </tr>
                    </thead>
                </table>
              </div>

              <% if users.size > 0 %>
                  <div class="panel panel-default table-body">
                 
                    <div class="table-responsive pure-u-12-24">
                      <table class="table data">
                        <tbody>
                          <% users.sort_by {|u| Time.parse(u['enrolled_on'])}.reverse.each do |user| %>
                              <tr class="user-info" id=<%= user['id'] %> >
                                <% if user['first_name'].nil? or user['first_name'].empty? %>
                                  <% user_name = "(not given)" %>
                                <% else %>
                                  <% user_name = user['first_name'].to_s + " " + user['last_name'].to_s %>
                                <% end %>
                                <th class="user-name"><%= user_name %></th>
                                <!-- <th><%= Time.parse(user['enrolled_on']).strftime("%b %-d, %Y") %></th> -->
                              </tr>
                          <% end %>
                        </tbody>
                      </table>
                    </div>
                  
                    <div class="pure-u-12-24 the-data">
                      <div class="default-user-info">
                          <h2>
                            Click on a family to see how they're reading!
                          </h2>
                      </div>

                      <% icons = ['open-book', 'closed-book', 'grade-a', 'spaceship', 'globe', 'dinosaur'] %>
                      <% icon_index = 0 %>

                      <% users.sort_by {|u| Time.parse(u['enrolled_on'])}.reverse.each do |user| %>
                        <div class="the-whole-user-thing" id=<%= user['id'] %> style="display: none;">
                          <div class="family-header users">
                            <img src="/images/<%= icons[icon_index] %>-icon.png" alt="">
                            <% puts "icon-index = #{icon_index}, #{icons[icon_index]}" %>
                            <% icon_index = (icon_index + 1) % icons.length %>
                            <div class="family-name">
                              <% if user['last_name'] %>
                                <% family_name = user['last_name'] %>
                              <% elsif user['first_name'] %>
                                <% family_name = user['first_name'] + "'s" %>
                              <% else %>
                                <% family_name = "unnamed" %>
                              <% end %>

                              <h3><%= family_name %></h3>
                              <h3>Family</h3>

                            </div>
                          </div>

                          <div class="stats user" style="margin-right: 2em;">
                            <h1><%= user['this_month'] %></h1>
                            <p>Books</p>
                            <small style="font-size: 1.23em; color: black;"><i>read this month</i></small>
                          </div>
                          <div class="stats user" id="bottom-guy" style="margin-left: 2em;">

                            <h1 style="display: inline-block;"><%= (user['this_month'] * 4.6).ceil %></h1>
                            <p>Minutes</p>
                            <small style="font-size: 1.23em; color: black;"><i>spent reading</i></small>
                          </div>
                        </div>
                      <% end %>

                    </div>
                  </div> <%# panel-default table-body %>


                <% else %> <%# there are 0 users.... %>
                  <div class="panel panel-default">
                    <div class="table-bordered">
                      <table class="table data">
                        <tbody>
                          <tr>
                            <th>No one has joined yet.</th>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  

                <% end %>


            </div> <%# big-daddy-data %>




            <!-- END THE REAL SHIT -->




          </div>
        </div>



      </div>
    </div>
  <% end %>
  <!-- end Teacher Modal-->

  <!-- Invite teachers Modal -->
  <div class="modal fade" id="inviteTeachersModal" role="dialog" tabindex='-1'>
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
  
        <div class="modal-body">

          <!-- begin invite-by-phone -->
            <div class="main-box by-phone" id="main-envelope">

              <% @sample_names = ["Jane Doe", "Alice Smith", "John Jones", "Bob Johnson", "Art Vandelay"] %>
              <% @sample_phones = ["jane.doe@storytime.edu", "alice.smith@storytime.edu", "john.jones@storytime.edu", "bob.johnson@storytime.edu", "art.vanelay@storytime.edu"] %>

                <div id="logo-container">
                  <div id="jobs">
                    <h2 class="our_team enroll_header">Invite Teachers.</h2>
                  </div>
                </div>

                <!-- <img class="flyer-image phone-image enroll-image" src="https://s3.amazonaws.com/st-webpage/assets/phone-text-2.png"> -->



                <form class="enroll-teacher-class invite-teachers" action="enroll_teachers_form_success" method="post">     
                  <div class="enroll group-invite">
                    <div class="box-header">
                      <h2 class="box-header-title">Enter emails below</h2>
                      <h3 class="box-header-subtext">
                        Teachers will get their classroom flyers to start sharing.
                      </h3>
                    </div>
                    <div class="box-body">
                      <div class="row row-small">
                        <div class="table-input">
                          <header class="table-input-header-row">
                            <span class="table-input-cell-validation table-input-cell">
                            </span>
              
                            <div class="table-input-header-cell table-input-cell"> Teacher name</div>
                            <div class="table-input-header-cell table-input-cell"> Teacher email
                            </div>

                          </header>

                          <div class="table-input-container">
                            <div class="table-input-body">
                              <%25.times do |idx| @idx = idx; @new_idx= idx % @sample_names.count%>
                                <span class="table-input-body-row">
                                  <span class="table-input-cell-validation table-input-cell">
                                  </span>

                                  <span class="table-input-body-cell table-input-cell">
                                    <div class="form-cell-input">
                                      <input name="<%="name_".concat @idx.to_s%>" value placeholder= "<%=@sample_names[@new_idx]%>">
                                    </div>
                                  </span>
                
                                  <span class="table-input-body-cell table-input-cell">
                                    <div class="form-cell-input">
                                      <input name="<%="phone_".concat @idx.to_s%>" value placeholder="<%=@sample_phones[@new_idx]%>" >
                                    </div>
                                  </span>
                                </span>
                              <%end%>
                            </div>

                          </div>
                        </div>
                      </div>
            
                        <button class="Button-ready" type="submit">Invite class</button>          
                    </div>
                  </div>
                </form>
              </div>

            <!-- end invite-by-phone -->

        </div>
      </div>
    </div>
  </div> <%# end invite teachers modal %>





  <div class="pure-g welcome">
      <div class="pure-u-1-3">
        <% if teachers.size == 0 %>
          <h2><b>Welcome!</b></h2>
          <h3><i>Let's start by inviting your class.</i></h3>
        <% else %>
          <img class="apple" src="/images/school-icon.png" alt="">
          <h3 class="apple">School Totals</h3>
        <% end %>

      </div>

      <% if teachers.size == 0 %>
        <div class="pure-u-2-3 paper-plane">      
          <img id="paper-plane" src="/images/paper-plane.png" alt="">
        </div>

      <% else %>
        <div class="pure-u-1-3 paper-plane">
          <div class="stats-wrapper">
            <div class="stats total" style="text-align: center;">
              <% weekly_books = teachers.inject(0) {|sum, teacher| sum += teacher['this_month'] } %>
              <h1><%= weekly_books %></h1>
              <p>Books</p>
              <small style="font-size: 1.23em; color: black;"><i>read this month</i></small>
            </div>
          </div>
          
        </div>
        <div class="pure-u-1-3 paper-plane">

          <div class="stats-wrapper" style="text-align: left;">
            <div class="stats total">
              <h1><%= teachers.inject(0) {|sum, teacher| sum += teacher['reading_time'] } %></h1>
              <p>Minutes</p>
              <small style="font-size: 1.23em; color: black;"><i>spent reading</i></small>
            </div>
          </div>
        </div>
      <% end %>

    
  </div>

  <div class="mobile-welcome">
    <h2><b>Welcome back!</b></h2>
    <h3><i>Your class is reading great!</i></h3>
  </div>

  
      <div class="big-daddy-data">
        <h4>Classrooms (<%= teachers.size %> started) </h4>

         <div class="panel panel-default header">
          <table class="table fields">
              <thead>
                <tr>
                  <th class="user-name-top">Name</th>
                  <th>Date joined</th>
                </tr>
              </thead>
          </table>
        </div>

        <% if teachers.size > 0 %>
            <div class="panel panel-default table-body">
           
              <div class="table-responsive pure-u-12-24 teacher-table-responsive">
                <table class="table data teacher-table">
                  <tbody>
                    <% teachers.select {|t| t['num_families'] > 0 }.sort_by {|u| u['num_families']}.reverse.each do |teacher| %>
                        <tr class="teacher-info" id=<%= teacher['id'] %> >
                          <th class="teacher-name"><%= teacher['signature'] %></th>
                          <th><%= Time.parse(teacher['enrolled_on']).strftime("%b %-d, %Y") %></th>
                        </tr>
                    <% end %>
                  </tbody>
                </table>

                <div class="leftover-space">
                  
                </div>

              </div>
            
              <div class="pure-u-12-24 the-data">
                <div class="default-teacher-info">
                    <h2>
                      Click on a classroom to see how they're reading!
                    </h2>
                </div>

                <% icons = ['open-book', 'spaceship', 'globe', 'closed-book', 'grade-a', 'dinosaur'] %>
                <% icon_index = 0 %>

                <% teachers.select {|t| t['num_families'] > 0 }.sort_by {|u| u['num_families']}.reverse.each do |teacher| %>
                  <div class="the-whole-teacher-thing" id=<%= teacher['id'] %> style="display: none;" data-toggle="modal" data-target="#teacherModal-<%= teacher['id'] %>">
                    <div class="teacher-imgs">
                        <img src="/images/<%= icons[icon_index] %>-icon.png" alt="" id="teacher-img">
                        <img src="/images/right-arrow.png" alt="" class="right-arrow">
                    </div>
                    <div class="family-header">
                      <% icon_index = (icon_index + 1) % icons.length %>
                      <div class="teacher-name">
                        <h3><%= teacher['signature'] %></h3>
                        <h3 id="bottom-mofo">   <%= teacher['num_families'] %> StoryTime <%= (teacher['num_families'] > 1 or teacher['num_families'] == 0) ? 'families' : 'family' %></h3>
                      </div>
                    </div>

                    <div class="pure-g stats-user">
                      
                        <div class="pure-u-1-2">
                          <div class="stats user" style="margin-left: 3em;">
                            <h1><%= teacher['this_month'] %></h1>
                            <p>Books</p>
                            <small style="font-size: 0.945em; color: black;"><i>read this month</i></small>
                          </div>
                        </div>
                        <div class="pure-u-1-2">
                          <div class="stats user" style="margin-right: 3em;">
                            <h1 style="display: inline-block;"><%= teacher['reading_time'] %></h1>
                            <p>Minutes</p>
                            <small style="font-size: 0.945em; color: black;"><i>spent reading</i></small>
                          </div>
                        </div>

                    </div> <%# end nested pure-g %>

                  </div>
                <% end %>

              </div>
            </div> <%# panel-default table-body %>


          <% else %> <%# there are 0 teachers.... %>
            <div class="panel panel-default">
              <div class="table-bordered">
                <table class="table data">
                  <tbody>
                    <tr>
                      <th>No one has joined yet.</th>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            

          <% end %>


      </div> <%# big-daddy-data %>


</div> <!-- class="container" -->
  
</body>
</html>



















