<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>StoryTime - Your Class Dashboard</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta name="description" content="StoryTime lets early grade teachers send books by text message to their class's families. Made at Yale, it builds 1 year of literacy growth after just 14 weeks.">
<!--    <meta property="og:url" content="http://joinstorytime.com">
 -->
    <meta property="og:image" content="http://st-webpage.s3.amazonaws.com/assets/redesign/st-og-image-pencil.png">
    <meta property="og:title" content="Storytime | Books by text.">
    <meta property="og:description" content="StoryTime lets early grade teachers send books by text message to their class's families. It builds 1 year of literacy growth after just 14 weeks.">

    <script async src="/js/smooth-scroll.min.js"></script>

    <script async type="text/javascript" src="/js/analytics.js"></script>

  
  <!-- Bootstrap modal files -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Bootstrap modal files -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" src="http://d2yudi7y1eei74.cloudfront.net/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="http://d2yudi7y1eei74.cloudfront.net/stylesheets/bootstrap.min.css">

    <!-- end Boostrap -->


    


    <!-- end Boostrap -->

    <link href='https://fonts.googleapis.com/css?family=Karla:400,400italic,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="stylesheets/alert.css" type="text/css" />
      
    <!-- This is only needed for below-the-fold content. -->
    <link rel="stylesheet" href="stylesheets/pure-push-pull.css" type="text/css" />

    <link rel="stylesheet" href="stylesheets/fonts.css" type="text/css">
    
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">

    <link rel="stylesheet" href="stylesheets/dashboard.css" type="text/css" />



<!--     <link rel="stylesheet" href="stylesheets/main_new.css" type="text/css" />
    <link rel="stylesheet" href="stylesheets/main.css" type="text/css" />
    <link rel="stylesheet" href="stylesheets/enroll.css" type="text/css" />
 -->    <!-- Favicon and App icon images -->

    <link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/images/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/images/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- Load jQuery and  -->
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/additional-methods.js"></script>

    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">


    <script>
      $(document).ready(function () {
        $('.user-info').click(function(event) {
          $('.user-info').not(this).removeClass('user-spotlight');
          $(this).addClass('user-spotlight');
          // $('.user-info').not(this).css('background-color', 'white');
          // $(this).css('background-color', 'rgba(255,240,208,0.35)');

          var id = $(this).attr('id');
          var infoBox = $('#' + id + '.the-whole-damn-thing'); 
          $('.the-whole-damn-thing').not(infoBox).css('display', 'none');
          infoBox.css('display', 'block');
          $('.default-user-info').css('display', 'none');
        });

        // $('.user-info').hover(function() {
        //   $(this).css('background-color', '#eceff1');
        // });


      });

      $(document).ready(function () {
        $('.tabs li').click(function() {
          var id = $(this).attr('id');
          var sidebar_options = ['easel', 'envelope', 'printer', 'spreadsheet']

          var arr = sidebar_options.filter(function(item) { 
              return item !== id;
          });

          console.log(arr)

          for (var i = 0; i < arr.length; i++) {
              $('#main-' + arr[i]).css('display', 'none'); 
              $('#' + arr[i]).removeClass('active');
          }

          $(this).addClass('active');
          $('#main-' + id).css('display', 'block');

        });

      });

      $(document).ready(function () {

        document.getElementById("uploadBtn").onchange = function () {
          console.log(this.value);
          var string = this.value
          regex = 
          string = string.split(/[\\/]/);

          console.log(string)
          document.getElementById("uploadFile").value = string[string.length - 1];
        };

        // validate file upload
        // $('#fileInput').val()
      });


    </script>

</head>
<body id="bs-override">


<div class="container">
  <div class="page-header">

    <div class="mobile-navbar">
      <a class="navbar-menu" href="/logout">Logout</a></li>
    </div>
    <h1><%= session[:teacher]['signature'] %>'s Class</h1>


    <div class="navbar-buttons">
      <a id="logout" class="navbar-menu" href="/logout">Logout</a>
      <a href="https://storytime.zendesk.com/hc/en-us"><button type="button" id="get-help" class="btn btn-primary btn-lg outline navbar-menu">Get help</button></a>
      <!-- <button type="button" class="btn btn-primary btn-lg outline navbar-menu">Add people</button> -->


      <button type="button" id="top-button" class="btn btn-primary btn-lg outline navbar-menu signup-button" data-toggle="modal" data-target="#myModal">
                  Add people
                  </button>
    </div>

  </div>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog" tabindex='-1'>
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
  
        <div class="modal-body">

          <div class="sidebar">
            <div class="sidebar-heading">
              <h3>Ways to invite people</h3>
            </div>
            <nav class="tabs">
              <ul>
                <li id="easel">
                  <a>
                    <div class="sidebar-item">
                      
                     <img src="https://st-webpage.s3.amazonaws.com/assets/class-icon.png" alt="printer">
        <!--            <img src="https://s3.amazonaws.com/st-webpage/assets/envelope-icon.png" alt="envelope">
         -->            <span>In-person guide </span>
                    </div>
                  </a>
                   
                </li>

                <li id="envelope" class="active">
                  <a>
                    <div class="sidebar-item">
                      
                      <img src="https://s3.amazonaws.com/st-webpage/assets/envelope-icon.png" alt="printer">


          <!--            <img src="https://s3.amazonaws.com/st-webpage/assets/envelope-icon.png" alt="envelope">
           -->            <span>Invite by phone</span>
                    </div>
                  </a>
                </li>
                <li id="printer" class="">
                  <a>
                    <div class="sidebar-item">
                      <img src="https://s3.amazonaws.com/st-webpage/assets/printer-icon.png" alt="printer">
                      <span>Printable flyer</span>
                      
                    </div>
                  </a>

                </li>

                <li id="spreadsheet" class="">
                  <a>
                    <div class="sidebar-item">
                      <img src="https://s3.amazonaws.com/st-webpage/assets/excel-icon.png" alt="printer">

                      <span>Add spreadsheet</span>
                      
                    </div>
                  </a>
                </li>

              </ul>
            </nav>
          </div>
          
          <!-- end sidebar -->

          <!-- in-person -->
          <div class="main-box in-person" id="main-easel" style="display: none;">
            <div id="logo-container">
              <div id="jobs">
                <h2 class="our_team enroll_header">Talk with parents.</h2>
              </div>
            </div>

            <div id="logo-container">
          
            </div>

                <header class="box-header">
                  <% code_english, code_spanish = session['teacher']['code'].split('|') %>
                  <% school = session['school']['signature'] %>
                  <% teacher = session['teacher']['signature'] + "-" + session['teacher']['t_number'].to_s %>
                  <% aws_url = "https://s3.amazonaws.com/teacher-materials/#{school}/#{teacher}/phone-imgs" %>


                  <h2 class="box-header-title">Tell people to text <span><%= code_english %></span> to (203)-202-3505</h2>
                  <h3 class="box-header-subtext">
                    They'll receive a welcome text from StoryTime.
                  </h3>

                  <h3 class="box-header-subtext">
                    For Spanish, text <span><%= code_spanish %></span>
                  </h3>
                </header>

                <object class="flyer-image phone-image enroll-image" data="<%= aws_url %>/<%= code_english %>-phone.png" type="image/png">
                    <img class="flyer-image phone-image enroll-image" src="/images/phone-text-default.png" />
                </object>

          </div>
          <!-- end in-person -->


          <!-- begin flyers -->
          <div class="main-box flyers" id="main-printer" style="display: none;">

              <div id="logo-container">
                <div id="jobs">
                  <h2 class="our_team enroll_header">Print out flyers.</h2>
                </div>
              </div>

                  <header class="box-header">
                    <h2 class="box-header-title">Print and send one home with each student.
                    <h3 class="box-header-subtext">
                      Then parents can just text to sign up.
                    </h3>
                  </header>


                  <div class="pure-g english-spanish-flyers">
                      <% code_english = session['teacher']['code'].split('|').first %>
                      <% school = session['school']['signature'] %>
                      <% teacher = session['teacher']['signature'] %>
                      <% teacher_dir = teacher + "-" + session['teacher']['t_number'].to_s %>
                      <% aws_url = "https://s3.amazonaws.com/teacher-materials/#{school}/#{teacher_dir}/flyers" %>


                      <div class="pure-u-1-2 english">
                          <img class="flyer-image" src="https://s3.amazonaws.com/teacher-materials/ST-flyer-thumb-EN.png">
                          <a href="<%= aws_url %>/StoryTime-Invite-Flyer-<%= teacher %>.pdf" target="_blank"><button class="Button-ready">Download English</button> </a>  
                      </div>
                      <div class="pure-u-1-2 spanish">
                          <img class="flyer-image" src="https://s3.amazonaws.com/teacher-materials/ST-flyer-thumb-ES.png">  
                          <a href="<%= aws_url %>/StoryTime-Invite-Flyer-<%= teacher %>-Spanish.pdf" target="_blank"><button class="Button-ready">Download Spanish</button> </a>
                      </div>
                  </div>
     

            </div>

            <!-- end flyers -->

            <!-- begin spreadsheet -->
            <div class="main-box spreadsheet-upload" id="main-spreadsheet" style="display: none;">

              <div id="logo-container">
                <div id="jobs">
                  <h2 class="our_team enroll_header">Add a spreadsheet.</h2>
                </div>
              </div>

                  <header class="box-header">

                    <h2 class="box-header-title">Add a spreadsheet with your class's names and numbers</h2>
                    <h3 class="box-header-subtext">
                      They'll receive a welcome text from StoryTime.
                    </h3>


                  </header>


                <form action="spreadsheet" method="post" enctype="multipart/form-data">
                  <div class="fileUpload">
                    <span class="custom-span">+</span>
                      <p class="custom-para">Upload spreadsheet</p>
                      <input id="uploadBtn" type="file" class="upload" name="spreadsheet"/>
                    </div>
                  <input id="uploadFile" placeholder="0 files selected" disabled="disabled" />
                  <button class="Button-ready spreadsheet" type="submit">Invite class</button>      
                </form>

            </div>
            <!-- end spreadsheet -->


            <!-- begin invite-by-phone -->
            <div class="main-box by-phone" id="main-envelope">

              <% @sample_names = ["Jane Doe", "Alice Smith", "John Doe", "Bob Johnson", "Art Vandelay"] %>
              <% @sample_phones = ["(555) 555-5555", "(444) 444-4444", "(333) 333-3333", "(222) 222-2222", "(888) 888-8888"] %>

                <div id="logo-container">
                  <div id="jobs">
                    <h2 class="our_team enroll_header">Invite by phone.</h2>
                  </div>
                </div>

                <!-- <img class="flyer-image phone-image enroll-image" src="https://s3.amazonaws.com/st-webpage/assets/phone-text-2.png"> -->



                <form class="enroll-teacher-class" action="enroll_families_form_success" method="post">     
                  <div class="enroll group-invite">
                    <div class="box-header">
                      <h2 class="box-header-title">Enter phone numbers</h2>
                      <h3 class="box-header-subtext">
                        Enter contact information in the space provided
                      </h3>
                    </div>
                    <div class="box-body">
                      <div class="row row-small">
                        <div class="table-input">
                          <header class="table-input-header-row">
                            <span class="table-input-cell-validation table-input-cell">
                            </span>
              
                            <div class="table-input-header-cell table-input-cell"> Child name</div>
                            <div class="table-input-header-cell table-input-cell"> Parent phone
                            </div>

                          </header>

                          <div class="table-input-container">
                            <div class="table-input-body">
                              <%25.times do |idx| @idx = idx; @new_idx= idx % @sample_names.count%>
                                <span class="table-input-body-row">
                                  <span class="table-input-cell-validation table-input-cell">
                                  </span>

                                  <span class="table-input-body-cell table-input-cell">
                                    <div class="form-cell-input">
                                      <input name="<%="name_".concat @idx.to_s%>" value placeholder= "<%=@sample_names[@new_idx]%>">
                                    </div>
                                  </span>
                
                                  <span class="table-input-body-cell table-input-cell">
                                    <div class="form-cell-input">
                                      <input name="<%="phone_".concat @idx.to_s%>" value placeholder="<%=@sample_phones[@new_idx]%>" >
                                    </div>
                                  </span>
                                </span>
                              <%end%>
                            </div>

                          </div>
                        </div>
                      </div>
                      <div class="field legal-field">
                        <span class="thunder">
                        Families will be able to get their first book next week. We'll keep you updated by email. 
                        </span>
                      </div>
                        <button class="Button-ready" type="submit">Invite class</button>          
                    </div>
                  </div>
                </form>
              </div>


            <!-- end invite-by-phone -->

        </div>
    
      </div>
    </div>
  </div>

  <div class="pure-g welcome">
      <div class="pure-u-1-3">
        <% if users.size == 0 %>
          <h2><b>Welcome!</b></h2>
          <h3><i>Let's start by inviting your class.</i></h3>
        <% else %>
          <img class="apple" src="/images/fresh-apple-icon.png" alt="">
          <h3 class="apple">Class totals</h3>
        <% end %>

      </div>

      <% if users.size == 0 %>
        <div class="pure-u-2-3 paper-plane">      
          <img id="paper-plane" src="/images/paper-plane.png" alt="">
        </div>

      <% else %>
        <div class="pure-u-1-3 paper-plane">
          <div class="stats-wrapper">
            <div class="stats total" style="text-align: center;">
              <p>Books read this week</p>
              <% weekly_books = users.inject(0) {|sum, user| sum += user['story_number'] } %>
              <%# users.map {|user| user['story_number'] } %>
              <h1><%= weekly_books %></h1>
            </div>
          </div>
          
        </div>
        <div class="pure-u-1-3 paper-plane">

          <div class="stats-wrapper" style="text-align: left;">
            <div class="stats total">
              <p>Time spent reading</p>
              <h1><%= (weekly_books * 4.6).ceil %><small style="font-size: 0.3em; color: black;"> min</small></h1>
            </div>
          </div>
        </div>
      <% end %>

    
  </div>

  <div class="mobile-welcome">
    <h2><b>Welcome back!</b></h2>
    <h3><i>Your class is reading great!</i></h3>
  </div>

  
      <div class="big-daddy-data">
        <h4>Class (<%= users.size %> joined) </h4>

         <div class="panel panel-default header">
          <table class="table fields">
              <thead>
                <tr>
                  <th class="user-name-top">Name</th>
                  <th>Date joined</th>
                </tr>
              </thead>
          </table>
        </div>

        <% if users.size > 0 %>
            <div class="panel panel-default table-body">
           
              <div class="table-responsive pure-u-12-24">
                <table class="table data">
                  <tbody>
                    <% users.sort_by {|u| Time.parse(u['enrolled_on'])}.reverse.each do |user| %>
                        <tr class="user-info" id=<%= user['id'] %> >
                          <% if user['first_name'].nil? or user['first_name'].empty? %>
                            <% user_name = "(not given)" %>
                          <% else %>
                            <% user_name = user['first_name'].to_s + " " + user['last_name'].to_s %>
                          <% end %>
                          <th class="user-name"><%= user_name %></th>
                          <th><%= Time.parse(user['enrolled_on']).strftime("%b %-d, %Y") %></th>
                        </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            
              <div class="pure-u-12-24 the-data">
                <div class="default-user-info">
                    <h2>
                      Click on a family to see how they're reading!
                    </h2>
                </div>

                <% icons = ['open-book', 'closed-book', 'grade-a', 'spaceship', 'globe', 'dinosaur'] %>
                <% icon_index = 0 %>

                <% users.sort_by {|u| Time.parse(u['enrolled_on'])}.reverse.each do |user| %>
                  <div class="the-whole-damn-thing" id=<%= user['id'] %> style="display: none;">
                    <div class="family-header">
                      <img src="/images/<%= icons[icon_index] %>-icon.png" alt="">
                      <% puts "icon-index = #{icon_index}, #{icons[icon_index]}" %>
                      <% icon_index = (icon_index + 1) % icons.length %>
                      <div class="family-name">
                        <% if user['last_name'] %>
                          <% family_name = user['last_name'] %>
                        <% elsif user['first_name'] %>
                          <% family_name = user['first_name'] + "'s" %>
                        <% else %>
                          <% family_name = "unnamed" %>
                        <% end %>

                        <h3><%= family_name %></h3>
                        <h3>Family</h3>

                      </div>
                    </div>

                    <div class="stats user">
                      <p>Books read this week</p>
                      <h1><%= user['story_number'] %></h1>
                    </div>
                    <div class="stats user" id="bottom-guy">
                      <p>Time spent reading</p>
                      <h1 style="display: inline-block;"><%= (user['story_number'] * 4.6).ceil %><small style="font-size: 0.3em; color: black;">min</small></h1>
                    </div>
                  </div>
                <% end %>

              </div>
            </div> <%# panel-default table-body %>


          <% else %> <%# there are 0 users.... %>
            <div class="panel panel-default">
              <div class="table-bordered">
                <table class="table data">
                  <tbody>
                    <tr>
                      <th>No one has joined yet.</th>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            

          <% end %>


      </div> <%# big-daddy-data %>


</div> <!-- class="container" -->
  
</body>
</html>



















