<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>StoryTime - Your Class Dashboard</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta name="description" content="StoryTime lets early grade teachers send books by text message to their class's families. Made at Yale, it builds 1 year of literacy growth after just 14 weeks.">
<!--    <meta property="og:url" content="http://joinstorytime.com">
 -->
    <meta property="og:image" content="http://st-webpage.s3.amazonaws.com/assets/redesign/st-og-image-pencil.png">
    <meta property="og:title" content="Storytime | Books by text.">
    <meta property="og:description" content="StoryTime lets early grade teachers send books by text message to their class's families. It builds 1 year of literacy growth after just 14 weeks.">

    <script async src="/js/smooth-scroll.min.js"></script>

    <script async type="text/javascript" src="/js/analytics.js"></script>

<!-- start Mixpanel --><script async type="text/javascript">(function(e,a){if(!a.__SV){var b=window;try{var c,l,i,j=b.location,g=j.hash;c=function(a,b){return(l=a.match(RegExp(b+"=([^&]*)")))?l[1]:null};g&&c(g,"state")&&(i=JSON.parse(decodeURIComponent(c(g,"state"))),"mpeditor"===i.action&&(b.sessionStorage.setItem("_mpcehash",g),history.replaceState(i.desiredHash||"",e.title,j.pathname+j.search)))}catch(m){}var k,h;window.mixpanel=a;a._i=[];a.init=function(b,c,f){function e(b,a){var c=a.split(".");2==c.length&&(b=b[c[0]],a=c[1]);b[a]=function(){b.push([a].concat(Array.prototype.slice.call(arguments,
0)))}}var d=a;"undefined"!==typeof f?d=a[f]=[]:f="mixpanel";d.people=d.people||[];d.toString=function(b){var a="mixpanel";"mixpanel"!==f&&(a+="."+f);b||(a+=" (stub)");return a};d.people.toString=function(){return d.toString(1)+".people (stub)"};k="disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config reset people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
for(h=0;h<k.length;h++)e(d,k[h]);a._i.push([b,c,f])};a.__SV=1.2;b=e.createElement("script");b.type="text/javascript";b.async=!0;b.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"file:"===e.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";c=e.getElementsByTagName("script")[0];c.parentNode.insertBefore(b,c)}})(document,window.mixpanel||[]);
mixpanel.init("358fa62873cd7120591bdc455b6098db");</script><!-- end Mixpanel -->
  
  <!-- Bootstrap modal files -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Bootstrap modal files -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" src="http://d2yudi7y1eei74.cloudfront.net/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="http://d2yudi7y1eei74.cloudfront.net/stylesheets/bootstrap.min.css">

    <!-- end Boostrap -->

    <!-- end Boostrap -->

    <link href='http://fonts.googleapis.com/css?family=Karla:400,400italic,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="stylesheets/alert.css" type="text/css" />
      
    <!-- This is only needed for below-the-fold content. -->
    <link rel="stylesheet" href="stylesheets/pure-push-pull.css" type="text/css" />

    <link rel="stylesheet" href="stylesheets/fonts.css" type="text/css">
    
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">

    <link rel="stylesheet" href="stylesheets/admin_dashboard.css" type="text/css" />

<!--     <link rel="stylesheet" href="stylesheets/main_new.css" type="text/css" />
    <link rel="stylesheet" href="stylesheets/main.css" type="text/css" />
    <link rel="stylesheet" href="stylesheets/enroll.css" type="text/css" />
 -->    <!-- Favicon and App icon images -->

    <link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/images/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/images/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- Load jQuery and  -->
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/additional-methods.js"></script>

    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">

    <script>

      $(document).ready(function () {
        $('.the-whole-user-thing').first().css('display', 'block');
        $('.user-info').slice(1).addClass('user-info-first-box');
        $('.user-info:first-child').addClass('user-spotlight first-row');
      });

      $(document).ready(function() {
        var isSafari = Object.prototype.toString.call(window.HTMLElement).indexOf('Constructor') > 0 || (function (p) { return p.toString() === "[object SafariRemoteNotification]"; })(!window['safari'] || safari.pushNotification);

        if (isSafari) {
          // $('.table-responsive').css('direction', 'ltr');
          document.styleSheets[0].addRule('.table-responsive::-webkit-scrollbar','width: 0');
          $('th.teacher-name').css('padding-left', '2em');
          $('th.teacher-name').next('th').css('padding-left', '2em');
          $('th.user-name').css('padding-left', '2em');
          // $('-webkit-scrollbar').css('width', '0 !important');
        }
      });

      $(document).ready(function () {
        function getParameterByName(name, url) {
            if (!url) {
              url = window.location.href;
            }
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
        }

        var flyers = getParameterByName('flyers'); // "lorem"
        console.log(flyers);

        if (flyers == '1') {
            // get signup modal
            // activate the flyers portion
            var id = 'printer';
            $('#myModal').modal('toggle');
            var sidebar_options = ['easel', 'envelope', 'printer', 'spreadsheet']
            var arr = sidebar_options.filter(function(item) { 
                return item !== id;
            });

            for (var i = 0; i < arr.length; i++) {
                $('#main-' + arr[i]).css('display', 'none'); 
                $('#' + arr[i]).removeClass('active');
            }
            console.log(arr)
            $('#main-' + id).css('display', 'block');
            $('#printer').addClass('active');
        }

      });



      $(document).ready(function () {
        $('#top-button.signup-button').click(function() {
          $.ajax({
            url: 'teacher/visited_page',
            type: 'get',
            dataType: 'text',
            success: function(data) {
              console.log('looks like the teacher has viewed the page');
            },
            error: function(xhr) {
              console.log(xhr);
            }
          })
        }); 
      });

      $(document).ready(function () {
        $('.user-info').click(function(event) {
          $('.user-info').not(this).removeClass('user-spotlight');
          $(this).addClass('user-spotlight');
          if ($(this).is(':first-child')) {
            $('.user-info').not(this).addClass('user-info-first-box');
            $(this).addClass('first-row');
          } else {
            $('.user-info').not(this).removeClass('user-info-first-box');
            $('.user-info:first-child').removeClass('first-row');
          }

          // $('.user-info').not(this).css('background-color', 'white');
          // $(this).css('background-color', 'rgba(255,240,208,0.35)');

          var id = $(this).attr('id');
          var infoBox = $('#' + id + '.the-whole-user-thing'); 
          $('.the-whole-user-thing').not(infoBox).css('display', 'none');
          infoBox.css('display', 'block');
          $('.default-user-info').css('display', 'none');
        });

        // $('.user-info').hover(function() {
        //   $(this).css('background-color', '#eceff1');
        // });
        // 
        // 
         // get a border on the bottom of the left table panel
        var rows_height = $('.users-table').height();
        console.log('rows_height = ' + rows_height);
        // check if this is greater than the height of the table, 27.5em
        var table_height = $('.users-table-responsive').height();
        console.log('table_height = ' + table_height);

        var leftover_height;

        if (rows_height > table_height) {
          leftover_height = 0;
        } else {
          leftover_height = table_height - rows_height;
        }

        console.log('leftovers = ' + leftover_height);

        $('.leftover-space').css('height', leftover_height);

        $('.user-info:last-child').css('border-bottom', 'solid rgb(210, 218, 224) 0.5px')
        // $('.teacher-info:last-child').css('border-bottom', 'solid rgb(210, 218, 224) 0.5px')


      });

      $(document).ready(function () {
        $('.tabs li').click(function() {
          var id = $(this).attr('id');
          var sidebar_options = ['easel', 'envelope', 'printer', 'spreadsheet']

          var arr = sidebar_options.filter(function(item) { 
              return item !== id;
          });

          console.log(arr)

          for (var i = 0; i < arr.length; i++) {
              $('#main-' + arr[i]).css('display', 'none'); 
              $('#' + arr[i]).removeClass('active');
          }

          $(this).addClass('active');
          $('#main-' + id).css('display', 'block');

        });

      });

      $(document).ready(function () {

        document.getElementById("uploadBtn").onchange = function () {
          console.log(this.value);
          var string = this.value
          regex = 
          string = string.split(/[\\/]/);

          console.log(string)
          document.getElementById("uploadFile").value = string[string.length - 1];
        };

        // validate file upload
        // $('#fileInput').val()
      });


    </script>

</head>
<body id="bs-override">

<div class="container">
  <div class="page-header">

    <div class="mobile-navbar">
      <a class="navbar-menu" href="/logout">Logout</a></li>
    </div>
    <h1><%= session[:educator]['signature'] %>'s Class</h1>


    <div class="navbar-buttons">
      <a id="logout" class="navbar-menu" href="/logout">Logout</a>
      <a href="http://storytime.zendesk.com/hc/en-us"><button type="button" id="get-help" class="btn btn-primary btn-lg outline navbar-menu">Help</button></a>
      <!-- <button type="button" class="btn btn-primary btn-lg outline navbar-menu">Add people</button> -->


      <button type="button" id="top-button" class="btn btn-primary btn-lg outline navbar-menu signup-button" data-toggle="modal" data-target="#myModal">
                  Add people
                  </button>
    </div>

  </div>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog" tabindex='-1'>
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
  
        <div class="modal-body">

          <div class="sidebar">
            <div class="sidebar-heading">
              <h3>Ways to invite people</h3>
            </div>
            <nav class="tabs">
              <ul>
                <li id="easel">
                  <a>
                    <div class="sidebar-item">
                      
                     <img src="http://st-webpage.s3.amazonaws.com/assets/class-icon.png" alt="printer">
        <!--            <img src="http://s3.amazonaws.com/st-webpage/assets/envelope-icon.png" alt="envelope">
         -->            <span>In-person guide </span>
                    </div>
                  </a>
                   
                </li>

                <li id="envelope">
                  <a>
                    <div class="sidebar-item">
                      <img src="http://s3.amazonaws.com/st-webpage/assets/envelope-icon.png" alt="printer">


          <!--            <img src="http://s3.amazonaws.com/st-webpage/assets/envelope-icon.png" alt="envelope">
           -->            <span>Invite by phone</span>
                    </div>
                  </a>
                </li>
                <li id="printer" class="active">
                  <a>
                    <div class="sidebar-item">
                      <img src="http://s3.amazonaws.com/st-webpage/assets/printer-icon.png" alt="printer">
                      <span>Printable flyer</span>
                      
                    </div>
                  </a>

                </li>

                <li id="spreadsheet" class="">
                  <a>
                    <div class="sidebar-item">
                      <img src="http://s3.amazonaws.com/st-webpage/assets/excel-icon.png" alt="printer">

                      <span>Add spreadsheet</span>
                      
                    </div>
                  </a>
                </li>

              </ul>
            </nav>
          </div>
          
          <!-- end sidebar -->

          <!-- in-person -->
          <div class="main-box in-person" id="main-easel" style="display: none;">
            <div id="logo-container">
              <div id="jobs">
                <h2 class="our_team enroll_header">Talk with parents.</h2>
              </div>
            </div>

            <div id="logo-container">
          
            </div>

                <header class="box-header">
                  <% code_english, code_spanish = session['educator']['code'].split('|') %>
                  <% school = session['school']['signature'] %>
                  <% teacher = session['educator']['signature'] + "-" + session['educator']['t_number'].to_s %>
                  <% aws_url = "http://s3.amazonaws.com/teacher-materials/#{school}/#{teacher}/phone-imgs" %>


                  <h2 class="box-header-title">Tell people to text <span><%= code_english %></span> to (203)-202-3505</h2>
                  <h3 class="box-header-subtext">
                    They'll receive a welcome text from StoryTime.
                  </h3>

                  <h3 class="box-header-subtext">
                    For Spanish, text <span><%= code_spanish %></span>
                  </h3>
                </header>

                <object class="flyer-image phone-image enroll-image" data="<%= aws_url %>/<%= code_english %>-phone.png" type="image/png">
                    <img class="flyer-image phone-image enroll-image" src="/images/phone-text-default.png" />
                </object>

          </div>
          <!-- end in-person -->


          <!-- begin flyers -->
          <div class="main-box flyers" id="main-printer">

              <div id="logo-container">
                <div id="jobs">
                  <h2 class="our_team enroll_header">Print out flyers.</h2>
                </div>
              </div>

                  <header class="box-header">
                    <h2 class="box-header-title">Print and send one home with each student.
                    <h3 class="box-header-subtext">
                      Then parents can just text to sign up.
                    </h3>
                  </header>


                  <div class="pure-g english-spanish-flyers">
                      <% code_english = session['educator']['code'].split('|').first %>
                      <% school = session['school']['signature'] %>
                      <% teacher = session['educator']['signature'] %>
                      <% teacher_dir = teacher + "-" + session['educator']['t_number'].to_s %>
                      <% aws_url = "http://s3.amazonaws.com/teacher-materials/#{school}/#{teacher_dir}/flyers" %>


                      <div class="pure-u-1-2 english">
                          <img class="flyer-image" src="http://s3.amazonaws.com/teacher-materials/ST-flyer-thumb-EN.png">
                          <a href="<%= aws_url %>/StoryTime-Invite-Flyer-<%= teacher %>.pdf" target="_blank"><button class="Button-ready">Download English</button> </a>  
                      </div>
                      <div class="pure-u-1-2 spanish">
                          <img class="flyer-image" src="http://s3.amazonaws.com/teacher-materials/ST-flyer-thumb-ES.png">  
                          <a href="<%= aws_url %>/StoryTime-Invite-Flyer-<%= teacher %>-Spanish.pdf" target="_blank"><button class="Button-ready">Download Spanish</button> </a>
                      </div>
                  </div>
     

            </div>

            <!-- end flyers -->

            <!-- begin spreadsheet -->
            <div class="main-box spreadsheet-upload" id="main-spreadsheet" style="display: none;">

              <div id="logo-container">
                <div id="jobs">
                  <h2 class="our_team enroll_header">Add a spreadsheet.</h2>
                </div>
              </div>

                  <header class="box-header">

                    <h2 class="box-header-title">Add a spreadsheet with your class's names and numbers</h2>
                    <h3 class="box-header-subtext">
                      They'll receive a welcome text from StoryTime.
                    </h3>


                  </header>


                <form action="spreadsheet" method="post" enctype="multipart/form-data">
                  <div class="fileUpload">
                    <span class="custom-span">+</span>
                      <p class="custom-para">Upload spreadsheet</p>
                      <input id="uploadBtn" type="file" class="upload" name="spreadsheet"/>
                    </div>
                  <input id="uploadFile" placeholder="0 files selected" disabled="disabled" />
                  <button class="Button-ready spreadsheet" type="submit">Invite class</button>      
                </form>

            </div>
            <!-- end spreadsheet -->


            <!-- begin invite-by-phone -->
            <div class="main-box by-phone" id="main-envelope" style="display: none;">

              <% @sample_names = ["Jane Doe", "Alice Smith", "John Doe", "Bob Johnson", "Art Vandelay"] %>
              <% @sample_phones = ["(555) 555-5555", "(444) 444-4444", "(333) 333-3333", "(222) 222-2222", "(888) 888-8888"] %>

                <div id="logo-container">
                  <div id="jobs">
                    <h2 class="our_team enroll_header">Invite by phone.</h2>
                  </div>
                </div>

                <!-- <img class="flyer-image phone-image enroll-image" src="http://s3.amazonaws.com/st-webpage/assets/phone-text-2.png"> -->



                <form class="enroll-teacher-class" action="enroll_families_form_success" method="post">     
                  <div class="enroll group-invite">
                    <div class="box-header">
                      <h2 class="box-header-title">Enter phone numbers</h2>
                      <h3 class="box-header-subtext">
                        Enter contact information in the space provided
                      </h3>
                    </div>
                    <div class="box-body">
                      <div class="row row-small">
                        <div class="table-input">
                          <header class="table-input-header-row">
                            <span class="table-input-cell-validation table-input-cell">
                            </span>
              
                            <div class="table-input-header-cell table-input-cell"> Child name</div>
                            <div class="table-input-header-cell table-input-cell"> Parent phone
                            </div>

                          </header>

                          <div class="table-input-container">
                            <div class="table-input-body">
                              <%25.times do |idx| @idx = idx; @new_idx= idx % @sample_names.count%>
                                <span class="table-input-body-row">
                                  <span class="table-input-cell-validation table-input-cell">
                                  </span>

                                  <span class="table-input-body-cell table-input-cell">
                                    <div class="form-cell-input">
                                      <input name="<%="name_".concat @idx.to_s%>" value placeholder= "<%=@sample_names[@new_idx]%>">
                                    </div>
                                  </span>
                
                                  <span class="table-input-body-cell table-input-cell">
                                    <div class="form-cell-input">
                                      <input name="<%="phone_".concat @idx.to_s%>" value placeholder="<%=@sample_phones[@new_idx]%>" >
                                    </div>
                                  </span>
                                </span>
                              <%end%>
                            </div>

                          </div>
                        </div>
                      </div>
                      <div class="field legal-field">
                        <span class="thunder">
                        Families will be able to get their first book next week. We'll keep you updated by email. 
                        </span>
                      </div>
                        <button class="Button-ready" type="submit">Invite class</button>          
                    </div>
                  </div>
                </form>
              </div>


            <!-- end invite-by-phone -->

        </div>
    
      </div>
    </div>
  </div>

  <% if session[:educator]['signin_count'] == 0 and users.size == 0 # the admin has never signed in  %>

      <%= erb :dashboard_tutorial_teachers %>

  <% else # the admin has signed in before %>

      <div class="pure-g welcome">
          <div class="pure-u-sm-1-3 pure-u-1">
            <% if users.size == -1 %>
              <h2><b>Welcome!</b></h2>
              <h3><i>Let's start by inviting your class.</i></h3>
            <% else %>
              <img class="apple" id="apple" src="/images/fresh-apple-icon.png" alt="">
              <h3 class="apple">Class totals</h3>
            <% end %>

          </div>

          <% if users.size == -1 %>
            <div class="pure-u-2-3 paper-plane">      
              <img id="paper-plane" src="/images/paper-plane.png" alt="">
            </div>

          <% else %>
            <div class="pure-u-sm-1-3 pure-u-1 paper-plane">
              <div class="stats-wrapper">
                <div class="stats total" style="text-align: center;">
                  <% weekly_books = users.inject(0) {|sum, user| sum += user['this_month'] } %>
                  <h1><%= weekly_books > 0 ? weekly_books : '-' %></h1>
                  <p>Books</p>
                  <small style="font-size: 1.23em; color: black;"><i>read this month</i></small>
                </div>
              </div>
              
            </div>
            <div class="pure-u-sm-1-3 pure-u-1 paper-plane">

              <div class="stats-wrapper" style="text-align: left;">
                <div class="stats total">
                  <% reading_time = users.inject(0) {|sum, user| sum += user['reading_time'] } %>
                  <h1><%= reading_time > 0 ? reading_time : '-' %></h1>
                  <p>Minutes</p>
                  <small style="font-size: 1.23em; color: black;"><i>spent reading</i></small>
                </div>
              </div>
            </div>
          <% end %>

        
      </div>

      
          <div class="big-daddy-data">
            <h4>Class (<%= users.size %> joined) </h4>

             <div class="panel panel-default header">
              <table class="table fields">
                  <thead>
                    <tr>
                      <th class="user-name-top">Name</th>
                      <th class="date-joined">Date joined</th>
                    </tr>
                  </thead>
              </table>
            </div>

            <% if users.size > 0 %>
                <div class="panel panel-default table-body">
               
                  <div class="table-responsive pure-u-sm-1-2 pure-u-2-5 users-table-responsive">
                    <table class="table data users-table">
                      <tbody>
                        <% users.sort_by {|u| Time.parse(u['enrolled_on'])}.reverse.each do |user| %>
                            <tr class="user-info" id=<%= user['id'] %> >
                              <% if user['first_name'].nil? or user['first_name'].empty? %>
                                <% user_name = "(not given)" %>
                              <% else %>
                                <% user_name = user['first_name'].to_s + " " + user['last_name'].to_s %>
                              <% end %>
                              <th class="user-name"><%= user_name %></th>
                              <th class="date-joined"><%= Time.parse(user['enrolled_on']).strftime("%b %-d, %Y") %></th>
                            </tr>
                        <% end %>
                      </tbody>
                    </table>

                    <div class="leftover-space"></div>

                  </div>
                
                  <div class="pure-u-sm-1-2 pure-u-3-5 the-data">
                    <div class="default-user-info" style="display: none;">
                        <h2>
                          Click on a family to see how they're reading!
                        </h2>
                    </div>

                    <% icons = ['open-book', 'closed-book', 'grade-a', 'spaceship', 'globe', 'dinosaur'] %>
                    <% icon_index = 0 %>

                    <% users.sort_by {|u| Time.parse(u['enrolled_on'])}.reverse.each do |user| %>
                      <div class="the-whole-user-thing" id=<%= user['id'] %> style="display: none; margin-top: 1em;">
                        <div class="teacher-imgs">
                            <img src="/images/<%= icons[icon_index] %>-icon.png" alt="" id="teacher-img" style="margin-left: 0px;">
                        </div>
                        <div class="family-header">
                          <!-- <img src="/images/<%= icons[icon_index] %>-icon.png" alt=""> -->
                          <% puts "icon-index = #{icon_index}, #{icons[icon_index]}" %>
                          <% icon_index = (icon_index + 1) % icons.length %>
                          <div class="family-name">
                            <% if user['last_name'] %>
                              <% family_name = user['last_name'] %>
                            <% elsif user['first_name'] %>
                              <% family_name = user['first_name'] + "'s" %>
                            <% else %>
                              <% family_name = "unnamed" %>
                            <% end %>

                            <h3><%= family_name %></h3>
                            <h3>Family</h3>

                          </div>
                        </div>

                        <div class="pure-g stats-user">
                            <div class="pure-u-1 pure-u-sm-1-2">
                              <div class="stats user left">
                                <h1><%= user['this_month'] %></h1>
                                <p>Books</p>
                                <small style="font-size: 0.945em; color: black;"><i>read this month</i></small>
                              </div>
                            </div>
                            <div class="pure-u-1 pure-u-sm-1-2">
                              <div class="stats user right">
                                <h1 style="display: inline-block;"><%= user['reading_time'] %></h1>
                                <p>Minutes</p>
                                <small style="font-size: 0.945em; color: black;"><i>spent reading</i></small>
                              </div>
                            </div>
                        </div> <%# end nested pure-g %>


                      </div>
                    <% end %>

                  </div>
                </div> <%# panel-default table-body %>


              <% else %> <%# there are 0 users.... %>
                       <div class="panel panel-default table-body">
               
                  <div class="table-responsive pure-u-sm-1-2 pure-u-2-5 users-table-responsive">
                    <table class="table data users-table">
                      <tbody>

                            <tr class="user-info">
                              <th class="user-name">No one has joined yet.</th>
                            </tr>
                      </tbody>
                    </table>

                    <div class="leftover-space"></div>

                  </div>
                
                  <div class="pure-u-sm-1-2 pure-u-3-5 the-data">
                    <div class="default-user-info" style="display: none;">
                        <h2>
                          Click on a family to see how they're reading!
                        </h2>
                    </div>

                    <% icons = ['open-book', 'closed-book', 'grade-a', 'spaceship', 'globe', 'dinosaur'] %>
                    <% icon_index = 0 %>

                    <% users.sort_by {|u| Time.parse(u['enrolled_on'])}.reverse.each do |user| %>
                      <div class="the-whole-user-thing" id=<%= user['id'] %> style="display: none; margin-top: 1em;">
                        <div class="teacher-imgs">
                            <img src="/images/<%= icons[icon_index] %>-icon.png" alt="" id="teacher-img" style="margin-left: 0px;">
                        </div>
                        <div class="family-header">
                          <!-- <img src="/images/<%= icons[icon_index] %>-icon.png" alt=""> -->
                          <% puts "icon-index = #{icon_index}, #{icons[icon_index]}" %>
                          <% icon_index = (icon_index + 1) % icons.length %>
                          <div class="family-name">
                            <% if user['last_name'] %>
                              <% family_name = user['last_name'] %>
                            <% elsif user['first_name'] %>
                              <% family_name = user['first_name'] + "'s" %>
                            <% else %>
                              <% family_name = "unnamed" %>
                            <% end %>

                            <h3><%= family_name %></h3>
                            <h3>Family</h3>

                          </div>
                        </div>

                        <div class="pure-g stats-user">
                            <div class="pure-u-1 pure-u-sm-1-2">
                              <div class="stats user left">
                                <h1><%= user['this_month'] %></h1>
                                <p>Books</p>
                                <small style="font-size: 0.945em; color: black;"><i>read this month</i></small>
                              </div>
                            </div>
                            <div class="pure-u-1 pure-u-sm-1-2">
                              <div class="stats user right">
                                <h1 style="display: inline-block;"><%= user['reading_time'] %></h1>
                                <p>Minutes</p>
                                <small style="font-size: 0.945em; color: black;"><i>spent reading</i></small>
                              </div>
                            </div>
                        </div> <%# end nested pure-g %>


                      </div>
                    <% end %>

                  </div>
                </div> <%# panel-default table-body %>
                
              <% end %>

          </div> <%# big-daddy-data %>

      <% end # the signin-count block %> 

</div> <!-- class="container" -->
  
</body>
</html>








