<!DOCTYPE html>
<html>
	<head>
	
		<title>StoryTime | Books by Text</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
		<meta name="description" content="StoryTime helps schools build literacy with books by text message for families. Made at Yale, it’s shown 1 year of literacy gains in just 3 months.">
<!-- 		<meta property="og:url" content="http://joinstorytime.com">
 -->
 		<meta property="og:image" content="https://s3.amazonaws.com/st-webpage/assets/st-og-image-3.png">
		<meta property="og:title" content="StoryTime | Books by Text">
		<meta property="og:description" content="StoryTime helps schools build literacy with books by text message for families. And it’s shown 1 year of literacy gains in just 3 months.">

		<script type="text/javascript" src="/js/smooth-scroll.min.js"></script>

		<script type="text/javascript" src="/js/analytics.js"></script>

	
	<!-- Bootstrap modal files -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
		<script type="text/javascript" src="http://d2yudi7y1eei74.cloudfront.net/js/bootstrap.min.js"></script>
		<link rel="stylesheet" type="text/css" href="http://d2yudi7y1eei74.cloudfront.net/stylesheets/bootstrap.min.css">

		<!-- end Boostrap -->

		<link href='https://fonts.googleapis.com/css?family=Karla:400,400italic,700' rel='stylesheet' type='text/css'>

		<link rel="stylesheet" href="stylesheets/alert.css" type="text/css" />
			
		<!-- This is only needed for below-the-fold content. -->
		<link rel="stylesheet" href="stylesheets/main.css" type="text/css" />

		<link rel="stylesheet" href="stylesheets/teacher-form-input.css" type="text/css" />


		<link rel="stylesheet" href="stylesheets/main_new.css" type="text/css" />
		<link rel="stylesheet" href="stylesheets/pure-push-pull.css" type="text/css" />

		<link rel="stylesheet" href="stylesheets/fonts.css" type="text/css">
		
		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
		<!-- Favicon and App icon images -->
		<link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="/images/favicon/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="/images/favicon/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
		<link rel="manifest" href="/images/favicon/manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="/images/favicon/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">


		<!-- Load jQuery and  -->
		<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script> -->
		<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script>
		<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/additional-methods.js"></script>

		<!-- our scripts -->
		<script type="text/javascript" src="/js/validations.js"></script>
		<script type="text/javascript" src="/js/appendform.js"></script>

		<script type="text/javascript">
			// signature modal
			// $(window).load(function(){
			// 	$('#chooseRoleModal').modal('toggle');
			// });


			$(document).ready(function(){
			    /* Get iframe src attribute value i.e. YouTube video url
			    and store it in a variable */
			    var url = $("#raynaVideo").attr('src');

			    $("#videoExitButton").on('click', function(){
			    	$("#raynaVideo").attr("src", null);
			    });

					$("#start-modal-button").click(function(){
			    	$("#raynaVideo").attr("src", url+"&autoplay=1");
			    });

			    $(document).click(function(event) {
			    	if(!$(event.target).closest('#start-modal-button').length) {
							$("#raynaVideo").attr("src", null);
			    	}
					});

					$('#raynaVideo').click(function(event){
					    event.stopPropagation();
					});

			});
		</script>

	</head>

	<body id="override">

	<!-- Notify about form submission -->
	<% if flash[:notice] %>
		<div id="alert">
		    <a class="alert" href="#alert">Great! Someone from our outreach team will be in touch soon.</a>
		</div>
	<% end %>

			<!-- Notify about form submission -->
	<% if flash[:signin_error] %>
		<div id="alert">
		    <a class="alert" href="#alert">Incorrect login info. Check with your admin for the correct school code!</a>
		</div>
	<% end %>


			<nav class="navbar" role="navigation">
				<div class="container">
					<a href="/">
					<div class="navbar-logo">
					</div>
					</a>
					<ul class="navbar-right">
						<li><a href="team">people</a></li>
						<li><a href="case_study">case study</a></li>
						<li><a href="https://docsend.com/view/nhzqgin" target="_blank">product</a></li>
						<li class="navbar-button-item">
							<a>
								<% if session['educator'].nil? %>
									<!-- <button id="top-button" class="pure-button-primary pure-button signup-button" data-toggle="modal" data-target="#chooseRoleModal"> -->
									<button id="top-button" class="pure-button-primary pure-button signup-button">
									Log in
									</button>
								<% else %>
									<form action="signup" method="get">									
										<button id="top-button" type="submit" class="pure-button-primary pure-button signup-button">
											Log in
										</button>
									</form>
								<% end %>
							</a>
						</li>
					</ul>
				</div>
			</nav>

	<!-- modals -->
		<%= erb :'/modals/rayna-video' %>
		<%= erb :'/modals/educator-login' %>
		<%= erb :'/modals/school-role' %>
		<%= erb :'modals/teacher-name' %>
		<%= erb :'modals/admin-name' %>
		<%= erb :'/modals/demo' %>
	<!-- modals end -->

			<div class="splash">
				<div class="container" id="splash">
					<div class="pure-g">		

						<div class="splash-text hero-splash-text-container pure-u-1 pure-u-md-1-2">
						
							<img id="logo-new" src="http://d2yudi7y1eei74.cloudfront.net/assets/logo.png">
							<h1 class="storytime-tagline" id="main-tagline">
							<span>Get families reading</span>
							</h1>
							<h1 id="sub-tagline" class="storytime-tagline">
							with books by text.
							</h1>
			              <!-- Button trigger modal   -->

				              <button type="button" class="btn btn-primary btn-lg pure-button pure-button-primary get_update dialog-button" id="start-modal-button" data-toggle="modal" data-target="#videoModal ">
				                Watch Video
				              </button>

			              <a href="https://docsend.com/view/nhzqgin" target="_blank">
				              <button type="button" class="btn btn-primary btn-lg pure-button pure-button-primary get_update dialog-button inline-button-right" id="start-modal-button">
				                Learn More
				              </button>
			              </a>								
						</div>	


						<!--End splash text  -->
						<div class="animation hero-animation-container pure-u-1 pure-u-md-1-2" id="hero-animation-container">
							<img id="background-phone" class="hero-animation" src="http://d2yudi7y1eei74.cloudfront.net/assets/htc-one-blank-high.jpg">
							<img id="gif-animation" class="hero-animation" src="http://d2yudi7y1eei74.cloudfront.net/assets/small-android.gif">

							<video  id="my-video" preload=auto autoplay loop muted>
								<source src="http://d2yudi7y1eei74.cloudfront.net/assets/demo/latest-demo.webm" type='video/webm'>
								<source src="http://d2yudi7y1eei74.cloudfront.net/assets/demo/latest-demo-compressed.mp4" type='video/mp4'>
								<source src="http://d2yudi7y1eei74.cloudfront.net/assets/video-file-gumbo.ogv">
							</video>	

 						</div>   
 						<!-- End animation -->



					</div> 
					<!-- End pure-g -->
				</div>
				<!-- End container -->
			</div> 
			<!-- End Splash -->
			<h1 class="banner" id="main-banner">The end of no reading at home.</h1>

			<!-- Below the FOLD  -->
			<div class="container">
				<div class="home--features">
					<div class="section-header">
					</div>		
					<section class="the-problem pure-g"> 

						<div class="pure-u-1 pure-u-md-1-3">
							<div class="text">
								<h2 id="prob">Double nightly reading.</h2>
								<p><span>Books messaged</span> each night to open and read.</p>
								<p><span>See who reads</span>, and <span>assign</span> books.</p>
							</div>
						</div>

						<div class="girl pure-u-1 pure-u-md-2-3">
							<img class="girl_reading real-girl" src="http://st-webpage.s3.amazonaws.com/assets/redesign/girl-reading.jpg" alt="" id="padded-img">
						</div>

					</section>
					
				</div>
				
				<div class="divider"><div></div></div>
				<div class="divider" id="divider-mobile"><div></div></div>
			

					
				<div class="home--features">
					<div class="section-header">
					</div>		
					<section class="the-problem pure-g"> 

<!-- MOBILE VERSION  -->
						<div class="mobile-text pure-u-1 pure-u-md-1-3 pure-push-md-1-3">
							<div class="text">
								<h2 id="prob">Build literacy 2x faster.</h2>
								<p><span>Yale Common Core curriculum</span> backed by research.</p>
								<p>Connect school and home, <span>personalized</span> for any <span>language</span> or <span>reading level</span>.</p>
							</div>
						</div>


						<div class="mobile-girl girl pure-u-1 pure-u-md-2-3 pure-pull-md-2-3">
							<img class="girl_reading literacy-phone large-phone" src="https://s3.amazonaws.com/warriorscholar-assets/assets/bam-phone.jpg" alt="" id="padded-img">
							<img class="girl_reading literacy-phone small-phone" src="http://st-webpage.s3.amazonaws.com/assets/redesign/new-new-phone.jpg" alt="" id="padded-img">
						</div>

<!-- END MOBILE VERSION  -->


<!-- DESKTOP VERSION  -->
						<div class="desktop-girl girl pure-u-1 pure-u-md-2-3">
							<img class="girl_reading literacy-phone large-phone" src="https://s3.amazonaws.com/warriorscholar-assets/assets/bam-phone.jpg" alt="" id="padded-img">
							<img class="girl_reading literacy-phone small-phone" src="http://st-webpage.s3.amazonaws.com/assets/redesign/new-new-phone.jpg" alt="" id="padded-img">
						</div>


						<div class="desktop-text pure-u-1 pure-u-md-1-3">
							<div class="text">
								<h2 id="prob">Build literacy 3x faster.</h2>
								<p><span>Yale Common Core curriculum</span> backed by research.</p>
								<p>Connect school and home, <span>personalized</span> for any <span>language</span> or <span>reading level</span>.</p>
							</div>
						</div>


<!-- END DESKTOP VERSION  -->


					</section>
					
				</div>

				<div class="divider"><div></div></div>
				<div class="divider" id="divider-mobile"><div></div></div>

				<div class="home--features">
					<div class="section-header">
					</div>		
					<section class="the-problem pure-g"> 

						<div class="pure-u-1 pure-u-md-1-3">
							<div class="text">
								<h2 id="prob">Take a break.</h2>
								<p><span>No extra work.</span> Just send home flyers once.</p>
								<p><span>Keep families updated</span> as easily as possible.</p>
							</div>
						</div>

						<div class="girl pure-u-1 pure-u-md-2-3">
							<img class="girl_reading" src="https://s3.amazonaws.com/st-webpage/assets/teacher-dashboard.jpg" alt="" id="padded-img">
						</div>

					</section>
					
				</div>


				<div class="divider"><div></div></div>
				<div class="divider" id="divider-mobile"><div></div></div>


				<h1 class="banner" id="call-to-action">Learn how Storytime can work for your school or district</h1>

							<div class="demo" data-toggle="modal" data-target="#myDemo">

				              <button type="button" class="demo-request-button btn btn-primary btn-lg pure-button pure-button-primary get_update dialog-button" id="start-modal-button">
				                Request a Demo
				              </button>
							</div>


<!-- 							<div class="demo" data-toggle="modal" data-target="#myDemo">
							  <span class="glyphicon glyphicon-book my-glyph" aria-hidden="true"></span>
								<span class='try-it'>Try Demo</span>

							</div>
 -->


	              <img class="contact-image call-to-action-image" src="http://d2yudi7y1eei74.cloudfront.net/assets/phone.png">
		          <a href="mailto:hello@joinstorytime.com?&subject=Storytime">   
		              <img id="email-image" class="contact-image call-to-action-image call-to-action-email-image" src="http://d2yudi7y1eei74.cloudfront.net/assets/email.png">
	              </a>

			</div>
	
	</body>
		<footer class="footer"> 
		<div class="footer--container  container---full"> 
			<nav class="footer--nav"> 
				<a class="footer--nav--link footer--nav--link---terms-privacy" href="/privacy">  
					Terms &amp; Privacy </a> <a class="footer--nav--link" href="https://docsend.com/view/nhzqgin" target="_blank">Learn More</a>
					<a class="footer--nav--link" target="_blank" href="/rayna">Watch Video</a>
					<a class="footer--nav--link" href="mailto:hello@joinstorytime.com" >Email Us</a>
					<a data-toggle="modal" data-target="#myDemo" class="footer--nav--link" >Request Demo</a>
					<a class="footer--nav--link" href="/team">Our Team</a>
					<a class="footer--nav--link" href="mailto:careers@joinstorytime.com">Careers</a>
					<a class="footer--nav--link" href="/privacy">Trust &amp; Safety</a>
					<a class="footer--nav--link" href="https://storytime.zendesk.com/hc/en-us" target="_blank">Support</a>
			</nav> 
		 </div> 
	

	</footer>
</html>