<!DOCTYPE html>
<html>
<head>
  
    <title>StoryTime | Free Children's Books Online for Teachers</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta name="description" content="StoryTime is a free app that lets teachers send children's books to families on any phone. It is shown to build literacy and double reading at home.">

    <meta property="og:image" content="https://s3.amazonaws.com/st-webpage/assets/st-og-image-3.png">
    <meta property="og:title" content="StoryTime | Books by Text">
    <meta property="og:description" content="StoryTime is a free app that lets teachers send children's books to families on any phone. It is shown to build literacy and double reading at home.">



    <script async type="text/javascript" src="/js/analytics.js"></script>

<!-- start Mixpanel --><script async type="text/javascript">
(function(e,a){if(!a.__SV){var b=window;try{var c,l,i,j=b.location,g=j.hash;c=function(a,b){return(l=a.match(RegExp(b+"=([^&]*)")))?l[1]:null};g&&c(g,"state")&&(i=JSON.parse(decodeURIComponent(c(g,"state"))),"mpeditor"===i.action&&(b.sessionStorage.setItem("_mpcehash",g),history.replaceState(i.desiredHash||"",e.title,j.pathname+j.search)))}catch(m){}var k,h;window.mixpanel=a;a._i=[];a.init=function(b,c,f){function e(b,a){var c=a.split(".");2==c.length&&(b=b[c[0]],a=c[1]);b[a]=function(){b.push([a].concat(Array.prototype.slice.call(arguments,
0)))}}var d=a;"undefined"!==typeof f?d=a[f]=[]:f="mixpanel";d.people=d.people||[];d.toString=function(b){var a="mixpanel";"mixpanel"!==f&&(a+="."+f);b||(a+=" (stub)");return a};d.people.toString=function(){return d.toString(1)+".people (stub)"};k="disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config reset people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
for(h=0;h<k.length;h++)e(d,k[h]);a._i.push([b,c,f])};a.__SV=1.2;b=e.createElement("script");b.type="text/javascript";b.async=!0;b.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"file:"===e.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";c=e.getElementsByTagName("script")[0];c.parentNode.insertBefore(b,c)}})(document,window.mixpanel||[]);
mixpanel.init("0a08296311bd71d58d58e3a759f0b4d1", {
  loaded: function(mixpanel) {
        var distinct_id = mixpanel.get_distinct_id();
        mixpanel.identify(distinct_id);
    }
});
</script><!-- end Mixpanel -->

          <!-- Bootstrap modal files -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/imports/bootstrap.min.css">

    <!-- end Boostrap -->


    <!-- Jquery Mobile -->
    <!-- Include meta tag to ensure proper rendering and touch zooming -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Include jQuery Mobile stylesheets -->
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">

    <!-- Include the jQuery library -->
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

    <!-- Include the jQuery Mobile library -->
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

    <!-- END Jquery Mobile -->


    <!-- Load jQuery and  -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script> -->
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/additional-methods.js"></script>

    <!-- Karla!!!! -->
    <link href='https://fonts.googleapis.com/css?family=Karla:400,400italic,700' rel='stylesheet' type='text/css'>

    <!-- <link rel="stylesheet" href="/stylesheets/main_new.css" type="text/css" /> -->

    <link rel="stylesheet" href="/stylesheets/alert.css" type="text/css" />

    <!-- <link rel="stylesheet" href="/stylesheets/main.css" type="text/css" /> -->
      

    <link rel="stylesheet" href="/stylesheets/teacher-form-input.css" type="text/css" />

    <link rel="stylesheet" href="/stylesheets/registration.css" type="text/css">


    <link rel="stylesheet" href="/stylesheets/pure-push-pull.css" type="text/css" />

    <link rel="stylesheet" href="/stylesheets/fonts.css" type="text/css">
    
    <link rel="stylesheet" href="/stylesheets/imports/pure-min.css">
    <link rel="stylesheet" href="/stylesheets/imports/grids-responsive-min.css">
    <!-- Favicon and App icon images -->
    <link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/images/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/images/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- our scripts -->
    <!-- <script type="text/javascript" src="/js/validations.js"></script> -->
    <!-- <script type="text/javascript" src="/js/appendform.js"></script> -->

    <script type="text/javascript">

      $(document).ready(function () {
        /** 
         * Determine the user's timezone
         */
        function getUserTimezone() {
          return (((new Date()).getTimezoneOffset() / 60) - 1) * -1
        }

        var timezone = getUserTimezone();

        var tz = $('<input>')
                  .attr('type', 'hidden')
                  .attr('name', 'time_zone')
                  .val(timezone);
        $('#register').append($(tz));

        /**
         * Determine the mobile operating system.
         * This function returns one of 'iOS', 'Android', 'Windows Phone', or 'unknown'.
         *
         * @returns {String}
         */
        function getMobileOperatingSystem() {
          var userAgent = navigator.userAgent || navigator.vendor || window.opera;

              // Windows Phone must come first because its UA also contains "Android"
            if (/windows phone/i.test(userAgent)) {
                return "Windows";
            }

            if (/android/i.test(userAgent)) {
                return "Android";
            }

            // iOS detection from: http://stackoverflow.com/a/9039885/177710
            if (/iPad|iPhone|iPod/.test(userAgent) && !window.MSStream) {
                return "iOS";
            }

            return "unknown";
        }

        var os = getMobileOperatingSystem();

        // console.log(os);

        var operating_system = $('<input>')
                  .attr('type', 'hidden')
                  .attr('name', 'mobile_os')
                  .val(os);
        $('#register').append($(operating_system));


        if (os.toLowerCase() == 'android') {
          $('#app-link').attr('href', 'https://play.google.com/store/apps/details?id=com.mcesterwahl.storytime');
        }

        if (os.toLowerCase() == 'ios') {
          $('#page3link').attr('href', '#page5');
        }

      });


    </script>

    <style>
    /*  .container#first-page {
        margin-top: 0px;
        margin-bottom: 0px;
        border-radius: 0px;
      }*/


      ul#navbar-header {
        background-color: #ed7a44;
      }
      
    </style>

</head>

<body id="override">
  <!-- navbar -->
  <% locals = {text: text,class_code:class_code, locale:locale,teacher_id:teacher_id, teacher: teacher, school: school} %>
  <%= erb :'register/user-name-phone', locals: locals %>
  <%= erb :'register/role', locals: locals %>
  <%= erb :'register/password', locals: locals %>
  <%= erb :'register/get-app', locals: locals %>
  <%= erb :'register/maintenance', locals: locals %>

  <form id="hidden-inputs">
    <input type="hidden" name="teacher_sig" value="<%= teacher %>">
    <input type="hidden" name="teacher_id" value="<%= teacher_id %>">
    <input type="hidden" name="locale" value="<%= locale %>">
    <input type="hidden" name="class_code" value="<%= class_code %>">
  </form>


<footer>

     <script>

     // $('ul#navbar-header').css('background-color', '#ed7a44');

      // Trigger on first sign up button tap
      function IdentifyUser() { 
          // TODO: phone_num = grab the user's phone number (string)
          // TDOO: full_name = grab the user's full name
         // TODO: teacher_name = grab the teacher name
          var phone_num = $('#register input[name=phone]').val();
          console.log(phone_num);

          var full_name = $('#register input[name=name]').val();
          console.log(full_name);

          var teacher_name = $('#hidden-inputs input[name=teacher_sig]').val();
          console.log(teacher_name);

          mixpanel.people.append({
            "full_name": full_name,
            "phone": phone_num
            // "teacher_name": teacher_name
          });

      }

      function validatePhone(phone) {
          var error = "";
          var stripped = phone.replace(/[\(\)\.\-\ ]/g, '');

         if (stripped == "") {
              error = "You didn't enter a phone number.";
              console.log(error);
              return false;
          } else if (/^[0-9]+$/.test(stripped) == false) {
              phone = "";
              error = "The phone number contains illegal characters.";
              console.log(error);
              return false;

          } else if (!(stripped.length == 10 || stripped.length == 11)) {
              phone = "";
              error = "The phone number is the wrong length. Make sure you included an area code.\n";
              console.log(error);
              return false;
          } else {
            return true;
          }
      }

      jQuery.validator.addMethod("validatePhone", function(value, element) {
        return validatePhone(value); 
      }, 'Please enter a valid phone number.');

      // Trigger when the first signup button is Tapped. 
      function SignupButtonClicked() {
        console.log('signup button clicked');
        mixpanel.track("Signup Button Clicked");
      }

      // Trigger when the Password button is tapped. 
      function PasswordButtonClicked() {
        console.log('password button clicked');
        mixpanel.track("Password Button Clicked");
      }

      // Trigger when the app download prompt is tapped.
      function AppPromptClicked() {
        console.log('app prompt clicked');
        mixpanel.track("App Download Prompt Clicked");
      }



     $('#app-link').click(function(event) {
        AppPromptClicked();
     });

     $('#page3link').click(function(event) {
        // get name/email
        var signupInfo = $("#register").serializeArray();

        for (var i = 0; i < signupInfo.length; i++) {
          var input = $('<input>')
                        .attr('type', 'hidden')
                        .attr('name', signupInfo[i]['name'])
                        .val(signupInfo[i]['value']);
          $('#password-form').append($(input));
        }

        // get role
        // already gotten from earlier script
        // submit password form using AJAX request
        console.log($('#password-form').serialize());
        $.post('/register/user-finish-registration', $('#password-form').serialize());

        PasswordButtonClicked();

     });


      $(document).on('click', '#page1link',function(event){




        
        $('#register').validate({
          rules: {
            phone: {
              required: true,
              validatePhone: true 
            }
          }
        });

        var ValidStatus = $("#register").valid();
        // var pattern = /[\-\(\)\s]+/g
        // var phone_number = $("#register input[name=phone]").val();
        // var stripped = phone_number.replace(pattern, '');

        // var valid_phone = /^[0-9]{10}$/.test(stripped);

        // console.log(ValidStatus);
        if (ValidStatus == false) {
            event.preventDefault();
            event.stopPropagation();
            return false;
        }

        // get name/email
        console.log($('#register').serialize());
        $.post('/register/user-start-registration', $('#register').serialize());

        // first identify user
        IdentifyUser();
        // then do other stuff
        SignupButtonClicked();


      });

      $(document).on('click', '#page3link',function(event){

        var ValidStatus = $("#password-form").valid();
        // console.log(ValidStatus);
        if (ValidStatus == false) {
            event.preventDefault();
            event.stopPropagation();
            return false;
        }
      });
      
      function SignupPageVisited() {
          var teacher_name = $('#hidden-inputs input[name=teacher_sig]').val();
          var class_code = $('#hidden-inputs input[name=class_code]').val();
          var teacher_id = $('#hidden-inputs input[name=teacher_id]').val();
          var locale = $('#hidden-inputs input[name=locale]').val();
          mixpanel.people.append({
            "teacher_name": teacher_name,
            "class_code": class_code,
            "teacher_id": teacher_id,
            "locale": locale
          });
          mixpanel.track("First Signup Page Visited");
      }

      $(document).ready(function() {
        SignupPageVisited();

        // console.log('distinct_id = ' +distinct_id);
      });



    </script>

</footer>
    
</body>

























