<!DOCTYPE html>
<html>
<head>
  
    <title>StoryTime | Books by Text</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta name="description" content="StoryTime helps schools build literacy with books by text message for families. Made at Yale, it’s shown 1 year of literacy gains in just 3 months.">
<!--    <meta property="og:url" content="http://joinstorytime.com">
 -->
    <meta property="og:image" content="https://s3.amazonaws.com/st-webpage/assets/st-og-image-3.png">
    <meta property="og:title" content="StoryTime | Books by Text">
    <meta property="og:description" content="StoryTime helps schools build literacy with books by text message for families. And it’s shown 1 year of literacy gains in just 3 months.">

    <script type="text/javascript" src="/js/smooth-scroll.min.js"></script>

    <script async type="text/javascript" src="/js/analytics.js"></script>

<!-- start Mixpanel --><script async type="text/javascript">(function(e,a){if(!a.__SV){var b=window;try{var c,l,i,j=b.location,g=j.hash;c=function(a,b){return(l=a.match(RegExp(b+"=([^&]*)")))?l[1]:null};g&&c(g,"state")&&(i=JSON.parse(decodeURIComponent(c(g,"state"))),"mpeditor"===i.action&&(b.sessionStorage.setItem("_mpcehash",g),history.replaceState(i.desiredHash||"",e.title,j.pathname+j.search)))}catch(m){}var k,h;window.mixpanel=a;a._i=[];a.init=function(b,c,f){function e(b,a){var c=a.split(".");2==c.length&&(b=b[c[0]],a=c[1]);b[a]=function(){b.push([a].concat(Array.prototype.slice.call(arguments,
0)))}}var d=a;"undefined"!==typeof f?d=a[f]=[]:f="mixpanel";d.people=d.people||[];d.toString=function(b){var a="mixpanel";"mixpanel"!==f&&(a+="."+f);b||(a+=" (stub)");return a};d.people.toString=function(){return d.toString(1)+".people (stub)"};k="disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config reset people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
for(h=0;h<k.length;h++)e(d,k[h]);a._i.push([b,c,f])};a.__SV=1.2;b=e.createElement("script");b.type="text/javascript";b.async=!0;b.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"file:"===e.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";c=e.getElementsByTagName("script")[0];c.parentNode.insertBefore(b,c)}})(document,window.mixpanel||[]);
mixpanel.init("358fa62873cd7120591bdc455b6098db");</script><!-- end Mixpanel -->

  
  <!-- Bootstrap modal files -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" src="http://d2yudi7y1eei74.cloudfront.net/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="http://d2yudi7y1eei74.cloudfront.net/stylesheets/bootstrap.min.css">

    <!-- end Boostrap -->

    <!-- Karla!!!! -->
    <link href='https://fonts.googleapis.com/css?family=Karla:400,400italic,700' rel='stylesheet' type='text/css'>

    <!-- <link rel="stylesheet" href="stylesheets/main_new.css" type="text/css" /> -->

    <link rel="stylesheet" href="/stylesheets/alert.css" type="text/css" />

    <!-- <link rel="stylesheet" href="/stylesheets/main.css" type="text/css" /> -->
      

    <link rel="stylesheet" href="/stylesheets/teacher-form-input.css" type="text/css" />

    <link rel="stylesheet" href="/stylesheets/registration.css" type="text/css">


    <link rel="stylesheet" href="/stylesheets/pure-push-pull.css" type="text/css" />

    <link rel="stylesheet" href="/stylesheets/fonts.css" type="text/css">
    
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
    <!-- Favicon and App icon images -->
    <link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/images/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/images/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">


    <!-- Load jQuery and  -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script> -->
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/additional-methods.js"></script>

    <!-- our scripts -->
    <!-- <script type="text/javascript" src="/js/validations.js"></script> -->
    <!-- <script type="text/javascript" src="/js/appendform.js"></script> -->

    <script type="text/javascript">

      $(document).ready(function () {
        /**
         * Determine the mobile operating system.
         * This function returns one of 'iOS', 'Android', 'Windows Phone', or 'unknown'.
         *
         * @returns {String}
         */
        function getMobileOperatingSystem() {
          var userAgent = navigator.userAgent || navigator.vendor || window.opera;

              // Windows Phone must come first because its UA also contains "Android"
            if (/windows phone/i.test(userAgent)) {
                return "Windows";
            }

            if (/android/i.test(userAgent)) {
                return "Android";
            }

            // iOS detection from: http://stackoverflow.com/a/9039885/177710
            if (/iPad|iPhone|iPod/.test(userAgent) && !window.MSStream) {
                return "iOS";
            }

            return "unknown";
        }

        var os = getMobileOperatingSystem();

        console.log(os);

        var operating_system = $('<input>')
                  .attr('type', 'hidden')
                  .attr('name', 'mobile_os')
                  .val(os);
        $('#register').append($(operating_system));

      });


    </script>

    <style>
    /*  .container#first-page {
        margin-top: 0px;
        margin-bottom: 0px;
        border-radius: 0px;
      }*/
      
    </style>



 
 
</head>

<body>
  <!-- navbar -->
  <%= erb :'components/navbar' %>

  <div class="wrapper">
    
      <div class="body">
        <div class="container first-page">
          <div class="pure-g">
            <div class="pure-u-1">
              <div class="class-information register" style="margin-bottom: 40px;">
                <h1 class="join-header" style="font-size: 1.8em; font-weight: normal; display: inline-block;margin-bottom:0px;"><%= text[:call_to_action] %></h1>
                <img src="/images/icons/apple-fun.png" style="display:inline-block;width: 40px; height: auto; margin-top:-10px;" alt="">
                <h1 style="margin-top: 0px; margin-bottom: 0px;font-size:1.8em;"><%= text[:class] %></h1>
                <p class="school-name"><%= school %></p>
              </div>


              <div class="login-form">
                <form id="register" action='/register' method="post"> 
                  <div class="signup-setup">
                    <div class="field" id="signup-field">
                       <label class="label"><%= text[:full_name] %></label>
                      <input name="name" placeholder="<%= text[:full_name_placeholder] %>" class="input" required>
                        <label class="label"><%= text[:phone_number] %></label>
                      <input name="phone" placeholder="(555) 555-5555" class="input" required>
                      </div>
                   
                      <button id="join" onclick="SignupButtonClicked();" ="submit" class="signature-modal signup-form-button pure-button pure-button-primary get_update dialog-button"><%= text[:sign_up] %></button>
                  </div>
                </form>
              </div>


            <div class="privacy-policy">
              <p><%= text[:privacy_policy] %></p>
            </div>
          </div>

        </div> <%# end pure-g %>


          
      </div> <%# container %>
    </div> <%# body %>

  </div>

<footer>

     <script>
      function SignupButtonClicked() {
        mixpanel.track("Signup Button Clicked");
      }
      
      mixpanel.track_forms('#register', 'Created Account');

      function SignupPageVisited() {
            mixpanel.track("First Signup Page Visited");
      }
      window.onload = SignupPageVisited;


    </script>

</footer>
    



</body>

























