<!DOCTYPE html>
<html>
		<title>StoryTime - Our team</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
		<meta name="description" content="StoryTime - Free stories by text message. For every family without books. We're closing the word gap at scale.">
		
		<meta property="og:image" content="http://www.joinstorytime.com/images/modules/st-og-image.png">
		
		<script type="text/javascript" src="/js/analytics.js"></script>
		
		<link href='https://fonts.googleapis.com/css?family=Karla:400,400italic,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">

		<link rel="stylesheet" href="stylesheets/job_board.css" type="text/css" />

		<link rel="stylesheet" href="stylesheets/alert.css" type="text/css" />

		<link rel="stylesheet" href="stylesheets/fonts.css" type="text/css">

		<link rel="stylesheet" href="stylesheets/main.css" type="text/css" />

		<link rel="stylesheet" href="stylesheets/team.css" type="text/css" />

		<link rel="stylesheet" href="stylesheets/pure-push-pull.css" type="text/css" />


		<!-- Favicon and App icon images -->
		<link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="/images/favicon/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="/images/favicon/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
		<link rel="manifest" href="/images/favicon/manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="/images/favicon/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">

	</head>

	<body>
		<!-- Notify about form submission -->
	
		<nav class="navbar" role="navigation">
			<div class="container">
				<a href="../">
					<div class="navbar-logo">
					</div>
				</a>
			</div>
		</nav>
		<br class="mobile_only">
		<div id="jobs">
								<img id="logo-new" src="/images/modules/logo.png">
								<h2 class="our_team">our team</h2>
		</div>
		
			<div class="team">
			
				<% team_names = ["Phil Esterman", "Jose David McPeek", "Aubrey Alonzo Wahl", "Sarah Weston", "Sophie Burrows"] %>
				<% team_roles = ["CEO", "CTO", "engineering", "content", "illustration"] %>
				<% team_books = ["The Lorax", "Where the Wild Things Are", "The Gruffalo", "Fox in Socks", "Harold and the Purple Crayon"] %>
				
				<% team_authors = ["Dr. Seuss", "Maurice Sendak", "Julia Donaldson", "Dr. Seuss", "Crockett Johnson"] %>


				<% team_names.each_with_index do |full_name, idx| %>
				
				<% team_bios = 

				["Phil studied computer science at Yale and taught Head Start preschool. Previously, he’s researched social policy at Yale, Harvard, and Columbia. He taught at Luciano Martinez Head Start, where he built StoryTime with his class’s families.",

					"David studied computer science Yale and quit Google to start StoryTime. Previously, he’s researched bioinformatics and robotics in Yale labs, engineered at web startups, and taught computer science.  He’s also an actor, having led in 15 shows. He started StoryTime to use art and tech to bring families closer.",

					"Aubrey studied computer science at Yale and grew up in Honduras and Guatemala. Previously, he’s researched social networks in Honduras with the Yale Network Science Institute and taught computer science. He’s also a competitive ultimate frisbee player and avid consumer of podcasts.",


					"Sarah graduated from Stanford studying English and earned her MPhil at Cambridge through a Beinecke Scholarship. At Stanford, she wrote for and edited over 8 publications and led writing workshops for survivors of abuse.",

					"Sophie studied illustration at the University of West England. She's won the Macmillan Prize for Children's Illustration and has illustrated for clients including HarperCollins and Parragon Books. She also enjoys really bad TV."
				]%>



 <section class="the-product pure-g"> 

				<div class="prize team_profile pure-u-1 pure-u-sm-1-2">
					<img src=<%= "/images/team/"+full_name.split.first.downcase + ".png"%> "/images/team/phil.png" alt="" id="padded-img">
				</div>
				<div class="pure-u-1 pure-u-sm-1-2">
					<div class="text">
						<h2 id="people"> <a href = mailto:<%=full_name.split.first.downcase%>@joinstorytime.com> <%= full_name%></a></h2>
						<h2 id="role"><%= team_roles[idx].downcase%></h2>

						<p> <%=team_bios[idx]%> </p>
						<p id="favorite-book-colon"><span>Favorite Children's Book:<span></p>
						<p id="favorite-book-answer"><span id="favorite-book-title"> <%=team_books[idx]%></span>, <%=team_authors[idx]%></p>

					</div>
				</div>
				
				
			</section>

			
			<% end %>

			<div class="divider"><div></div></div>
			<div class="divider" id="divider-mobile"><div></div></div>

		<div class="bottom">
			<div class="splash">
				<div class="container" id="splash">
					<div class="pure-g">	
						<div class="splash-text pure-u-1 pure-u-md-1-2">
							<img id="logo-new" src="/images/modules/1_billion_text.png">
							<h1 class="storytime-tagline">
							without books or <br>Internet. We <span> get <br>
							them stories. </span>
							</h1>


							<div class="meta-block">
								<a href="/join">
							        <button id="join" class="pure-button pure-button-primary get_update">join our team</button>
							    </a>
						    </div>


							<div class="email">
								<a id="more_team" href="mailto:phil@joinstorytime.com,david@joinstorytime.com"><p>get in touch</p></a>
							</div>



						</div>					
						<div class="animation bottom_globe pure-u-1 pure-u-md-1-2">
							<img src="/images/modules/globe.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>

			

			

	</body>
	<footer>
		<script>
    	smoothScroll.init();
		</script>
	</footer>
</html>