  <div data-role="page" class="wrapper" id="page3">
    <%= erb :'components/navbar' %>
      <div data-role="main" class="body" style="vertical-align: top;">
        <div class="container password">
          <div class="pure-g">
              <div class="pure-u-1 class-information password-text">
                <h1 class="" style="display: inline-block;font-weight:600;font-size:1.8em;"><%= text[:header_password] %></h1>
                <img style="display: inline-block; padding-left: 11px;" src="/images/icons/lock-key.png" alt="">
                <!-- <p><%= text[:subtitle] %></p> -->
              </div>
              <div class="pure-u-1 login-form">
                <form id="password-form"> 
                  <div class="signup-setup">
                    <div class="field" id="signup-field">
                      <label class="label"><%= text[:label] %></label>
                      <input type="password" name="password" placeholder="<%= text[:placeholder] %>" class="input" required>
                      <input type="hidden" name="role" value="">
                    </div>
                     <a id="page3link" class="transition-link ui-btn web-mobile-signup-button" href="#page4" data-transition="fade">
                        <%= text[:button] %>
                     </a>


                      <!-- <button data-transition="" class="web-mobile-signup-button" ><%= text[:button] %></button> -->
                  </div>
                </form>
              </div>
          </div> <%# end pure-g %>
        </div>
      </div> <%# body class %>
  </div> <%# wrapper %>