<!DOCTYPE html>
<html>
  <head>
  
    <%= erb :'components/headers' %>

    <%= erb :'homepage/headers/mixpanel', locals: {mixpanel_homepage_key: mixpanel_homepage_key} %>
    
    <%= erb :'homepage/headers/libraries' %>
    
    <%= erb :'components/favicon' %>




  <!-- Bootstrap modal files -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/imports/limited/bootstrap.min.css">

    <!-- end Boostrap -->

    <!-- our stylesheets -->
    <link rel="stylesheet" href="stylesheets/alert.css" type="text/css" />
    <link rel="stylesheet" href="stylesheets/teacher-form-input.css" type="text/css" />
    <link rel="stylesheet" href="stylesheets/homepage.css" type="text/css" />
    <link rel="stylesheet" href="stylesheets/fonts.css" type="text/css">
    <!-- This is only needed for below-the-fold content. -->
    <link rel="stylesheet" href="stylesheets/main.css" type="text/css" />





    <!-- our scripts -->
    <script type="text/javascript" src="/js/validations.js"></script>
    <script type="text/javascript" src="/js/homepage.js"></script>
    <script type="text/javascript" src="/js/videoModal.js"></script>
    <script type="text/javascript" src="/js/helpers.js"></script>

    <script type="text/javascript">

      $(document).ready(function(){
 
        $(window).scroll(function (event) {
          var scroll = $(window).scrollTop();
          if (scroll < 645) {
            $('.navbar').removeClass('highlighted');
          } else {
            $('.navbar').addClass('highlighted');
          }

        });

        $('.modal input').on('click', function () {
          $(this).focus();
        })

        if (isMobileDevice()) {
          $('body').addClass('isMobile');
        } else {
          $('body').addClass('isDesktop');
        }

      });

    </script>

  </head>

  <body id="override">

  <!-- Notify about form submission -->
  <% if flash[:notice] %>
    <div id="alert">
        <a class="alert" href="#alert">Great! Someone from our outreach team will be in touch soon.</a>
    </div>
  <% end %>

      <!-- Notify about form submission -->
  <% if flash[:signin_error] %>
    <div id="alert">
        <a class="alert" href="#alert">Incorrect login info.</a>
    </div>
  <% end %>


  <% if flash[:freemium_permission_error] %>
    <div id="alert">
        <a class="alert" href="#alert">Your free StoryTime trial is almost ready! We'll let you know when you're off the waitlist.</a>
    </div>
  <% end %>

  <% if flash[:wrong_grade_level_error] %>
    <div id="alert">
        <a class="alert" href="#alert">Right now, Storytime is only available for preschool. We'll email you when it's ready for your grade level!</a>
    </div>
  <% end %>

  <!-- modals -->
  <div>
      <%= erb :'homepage/modals/signup-signature' %>
      <%= erb :'homepage/modals/signup-school-role' %>
      <%= erb :'homepage/modals/school-info' %>
      <%= erb :'homepage/modals/rayna-video' %>
      <%= erb :'homepage/modals/signup-name-password' %>
      <%= erb :'homepage/modals/educator-login' %>
      <%= erb :'homepage/modals/demo' %>
      <%= erb :'homepage/modals/signup-email' %>
      <%= erb :'homepage/modals/main-signup-form' %>
      <%= erb :'homepage/modals/congrats-modal' %>
  </div>
  <!-- modals end -->

   <nav class="navbar navbar-mobile" role="navigation">
     <div class="container">
       <a href="/" id="navbar-title">
         <div>
           Storytime
         </div>
       </a>
       <ul class="navbar-right">
         
         <li class="navbar-button-item">
           <a>
             <% if session['educator'].nil? %>
               <!-- <button id="top-button" class="pure-button-primary pure-button signup-button" data-toggle="modal" data-target="#chooseRoleModal"> -->
               <button id="top-button" class="signup-button logger-in log-in-fake-button">
               Log in
               </button>
             <% else %>
               <form action="signup" method="get">                 
                 <button id="top-button" type="submit" class="signup-button logger-in log-in-fake-button">
                   Log in
                 </button>
               </form>
             <% end %>
           </a>
         </li>

       </ul>
     </div>
   </nav>



      <nav class="navbar" role="navigation">
        <div class="container">
          <a href="/" id="navbar-title">
            <div>
              Storytime
            </div>
          </a>
          <ul class="navbar-right">
            <li><a id="case-study-link" href="case_study">Success Stories</a></li>
<!--             <li><a href="team">About Us</a></li>
 -->            <li class="navbar-button-item">
              <a>
                <% if session['educator'].nil? %>
                  <!-- <button id="top-button" class="pure-button-primary pure-button signup-button" data-toggle="modal" data-target="#chooseRoleModal"> -->
                  <button id="top-button" class="signup-button logger-in log-in-fake-button">
                  Log in
                  </button>
                <% else %>
                  <form action="signup" method="get">                 
                    <button id="top-button" type="submit" class="signup-button logger-in log-in-fake-button">
                      Log in
                    </button>
                  </form>
                <% end %>
              </a>
            </li>

            <li class="navbar-button-item">
              <a>       
                  <button id="top-button" onclick="mixpanel.track('navbar signup button clicked', {'location': 'navbar'});" data-toggle="modal" data-target="#signupEmail" class="pure-button-primary pure-button signup-button">
                    Sign up
                  </button>
              </a>
            </li>
          </ul>
        </div>
      </nav>

  <!-- mobile splash -->
    <div class="splash-new-mobile">
    <div class="splash-container">
      <h1>Get families books and grow readers.</h1>
      <h4>Send children's books home to any phone— for free.</h4>


      <form id="signup-email-mobile" class="signup-form"> 
          <div class="signup-setup">
              <div class="field" id="signup-field">
                <input name="usernameDisplay" placeholder="Enter your email or phone number" class="input" required> 
                <input type="hidden" name='username'>
              </div>

                <button type="button" id="signup-email-button-mobile" class="signup-form-button pure-button pure-button-primary get_update dialog-button">Continue</button>
          </div>
      </form>

      <div class="signup-name-password-mobile" style="display: none;">
        <h2>Enter your name and a password</h2>
        <form id='signup-name-password-mobile' class="signup-form" action="/auth/freemium-signup-register" method="post"> 
              <!-- <form id='login'> -->
                <div class="signup-setup">
                  <div class="field" id="signup-field">
                      <input name="first_name" autocomplete="off" placeholder="First name" class="input" required>
                      <input name="last_name" autocomplete="off" placeholder="Last name" class="input" required>
                      <input name="password" autocomplete="off" placeholder="Password" type="password" class="input" required>
                  </div>
                  <button id="signup-name-password-button-mobile" type="submit" class="signup-form-button pure-button pure-button-primary get_update dialog-button">Complete sign up</button>
               </div>
        </form>
      </div>

    </div>
    <!-- End container -->
  </div> 


  <!-- end mobile splash -->



  <div class="splash-new">
    <div class="splash-container">
      <div class="title">
        <h1 id="pitch">Get families books and grow readers.</h1>
        <h4 id="sub-pitch">Send children's books home to any phone— for free.</h4>


        <form id="text-me-link-form" action="/text-link-to-app" method="post">
          <div class="input-group" style="    width: 350px;
    margin: 0 auto;
    margin-top: 30px;
">
            <input type="text" style="height: 3.5em;" name="phone" class="form-control" placeholder="(555) 555-5555" aria-describedby="basic-addon2">
            <span style="background: #ed7844;color:white;     font-weight: bold;
    border: none;" class="input-group-addon" id="text-me-link-button">Text me a link</span>
          </div>
        </form>

        <p id="confirm-message-sent" style="display:none;color: white;
    font-weight: bold;
    font-size: 14px; "></p>

        <p id="need-number" style="display:none;color: white;
    font-weight: bold;
    font-size: 14px;">Invalid phone.</p>

        <script>
          $('#text-me-link-button').click(function(event){
            // get input
            var phone = $('form#text-me-link-form input[name=phone]').val();
            console.log(phone);

            // validate the form
            if ((phone == '') || (phone.length < 10) || !(/^\d+$/.test(phone))) {
              $('#need-number').css('display', 'block');
              return false;
            }

            // post form
            $.post('/get-app/send-app-link', $('form#text-me-link-form').serialize());

            // initiate slide-down drop down
            $('#need-number').css('display', 'none');
            $('#confirm-message-sent').html('Download link sent to ' + phone);
            $('#confirm-message-sent').slideDown();

          });
        </script>




<!--         <button type="button" data-toggle="modal" data-target="#signupEmail" class="btn btn-primary btn-lg pure-button pure-button-primary get_update dialog-button" id="main-signup-button" onclick="mixpanel.track('splash signup button clicked', {'location': 'splash'});">
                    Sign up
                  </button> -->
      </div>
      

    </div>
    <!-- End container -->
  </div> 
  <!-- End Splash -->

<!-- body -->


<section class="product-display" id="end-no-reading">
  <h1 class="section-banner">The end of no reading at home.</h1>
  <div class="pure-g">
 
    <div class="pure-u-1 pure-push-md-1-2 pure-u-md-1-2">
      <div class="product-img">
        <img src="https://d2yudi7y1eei74.cloudfront.net/assets/app/Phone-1.jpg" alt="">
      </div>
    </div>


    <div class="pure-u-1 pure-pull-md-1-2 pure-u-md-1-2">
      <div class="product-text">
        <h2>Send books to families.</h2>
        <ul>
          <p><b>No extra work.</b> Nightly books are already scheduled.</p>
          <p><b>Build literacy.</b> Parents just tap for questions to ask.</p>
          <p><b>Based on Stanford research.</b> Shown to more than double reading at home.</p>
        </ul>
      </div>
    </div>


  </div>
</section>


<section class="product-display" id="support-families">
  <div class="pure-g" style="padding-top: 6em;">
     
    <div class="pure-u-1 pure-u-md-1-2">
      <div class="product-img">
        <img src="https://d2yudi7y1eei74.cloudfront.net/assets/app/Phone-2.png" alt="">
      </div>
    </div>

    <div class="pure-u-1 pure-u-md-1-2">
      <div class="product-text">
        <h2>Support and engage families.</h2>
        <ul>
          <p><b>Write personal messages</b> with books and get replies.</p>
          <p><b>Extend the classroom home.</b> Choose books and skills related to that day's lesson.</p>

        </ul>
      </div>
    </div>

  </div>

  
</section>


<section class="product-display" id="better-teachers">
  <h1 class="section-banner">Help parents be great teachers.</h1>
  <div class="pure-g">
    <div class="pure-u-1 pure-u-md-1-3">
      <div class="product-text">
        <p><b>See how much</b> each family reads.</p>
        <p><b>Reach any device,</b> even flip phones.</p>
      </div>
    </div>

    <div class="pure-u-1 pure-u-md-1-3">
      <div class="product-img">
        <img src="https://d2yudi7y1eei74.cloudfront.net/assets/app/Phone-3.png" alt="">
      </div>
    </div>

    <div class="pure-u-1 pure-u-md-1-3">
      <div class="product-text" style="margin-left: auto;">
        <p><b>Use reading reminders,</b> scheduled for you.</p>
        <p><b>Personalized books</b> for each child's level.</p>
      </div>
    </div>
  </div>
</section >


<section class="product-display" id="any-family">
  <h1 class="section-banner">Any family, any language, any device. Free.</h1>
  <div class="pure-g">
    <div class="pure-u-1 pure-u-md-1-3">
      <div class="little-box">
        <img src="https://d2yudi7y1eei74.cloudfront.net/assets/icons/android.png" alt="">
        <p>Works on iOS, Android, non-smartphones, and on any computer.</p>
      </div>
    </div>

    <div class="pure-u-1 pure-u-md-1-3">
      <div class="little-box">
        <img src="https://d2yudi7y1eei74.cloudfront.net/assets/icons/globe.png" alt="">
        <p>Send books in Spanish and any language spoken at home.</p>
      </div>
      
    </div>

    <div class="pure-u-1 pure-u-md-1-3">
      <div class="little-box">
        <img src="https://d2yudi7y1eei74.cloudfront.net/assets/icons/art.png" alt="">
        <p>Include picture-focused books for parents still learning to read.</p>
      </div>
      
    </div>

  </div>

</section>


<!-- body END -->



    <h1 class="banner" id="call-to-action">Learn more about using Storytime across your school.</h1>

          <div class="demo" data-toggle="modal" data-target="#myDemo">

                  <button type="button" onclick="DemoButtonClicked();" class="demo-request-button btn btn-primary btn-lg pure-button pure-button-primary get_update dialog-button" style="width: 11em; border: none;" id="start-modal-button">
                    Request a Demo
                  </button>
          </div>


          <img class="contact-image call-to-action-image" src="https://d2yudi7y1eei74.cloudfront.net/assets/phone.png">
          <a href="mailto:hello@joinstorytime.com?&subject=Storytime">   
              <img id="email-image" class="contact-image call-to-action-image call-to-action-email-image" src="https://d2yudi7y1eei74.cloudfront.net/assets/email.png">
          </a>

  </div>

 

  <%= erb :'components/footer' %> 

  <script>

      mixpanel.track_links("a#case-study-link", "Case study link clicked");

      mixpanel.track('Homepage visited');

      function CaseStudyClicked() {
        mixpanel.track("Case Study Clicked");
      }

      function VideoButtonClicked() {
        mixpanel.track("Video Modal Clicked");
      }

      function DemoButtonClicked() {
        mixpanel.track("Demo Button Clicked");
      }

  </script>


  </body>

</html>