<!DOCTYPE html>
<html>
		<title>StoryTime | Case Study</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
		<meta name="description" content="StoryTime - Free stories by text message. For every family without books. We're closing the word gap at scale.">
		
		<meta property="og:image" content="https://www.joinstorytime.com/images/modules/st-og-image.png">
		
		<script type="text/javascript" src="/js/analytics.js"></script>

		 <!-- Bootstrap modal files -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/imports/bootstrap.min.css">
    <!-- grids -->
    <!-- <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" type="text/css"> -->
    <!-- <link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css" type="text/css"> -->

    <!-- end Boostrap -->
		
		<link href='https://fonts.googleapis.com/css?family=Karla:400,400italic,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="/stylesheets/imports/pure-min.css">
		<link rel="stylesheet" href="/stylesheets/imports/grids-responsive-min.css">

		<link rel="stylesheet" href="/stylesheets/job_board.css" type="text/css" />

		<link rel="stylesheet" href="/stylesheets/alert.css" type="text/css" />

		<link rel="stylesheet" href="/stylesheets/fonts.css" type="text/css">

		<link rel="stylesheet" href="/stylesheets/main.css" type="text/css" />

		<link rel="stylesheet" href="/stylesheets/team.css" type="text/css" />

		<link rel="stylesheet" href="/stylesheets/pure-push-pull.css" type="text/css" />

		<link rel="stylesheet" href="/stylesheets/modals.css" type="text/css" />

		<link rel="stylesheet" href="/stylesheets/homepage.css" type="text/css" />
		<link rel="stylesheet" href="/stylesheets/main_panels.css" type="text/css" />

		<link rel="stylesheet" href="/stylesheets/case_study.css" type="text/css">

		<script type="text/javascript" src="/js/validations.js"></script>



<script type="text/javascript" src="/js/homepage.js"></script>
    <script type="text/javascript" src="/js/videoModal.js"></script>


		<%= erb :'components/favicon' %>

	</head>

	<body>
		<!-- Notify about form submission -->
	
		<%= erb :'components/nav' %>

		  <!-- modals -->
    <%= erb :'pages/modals/school-role' %>
    <%= erb :'pages/modals/teacher-name' %>
    <%= erb :'pages/modals/admin-name' %>
    <%= erb :'homepage/modals/demo' %>
    <%= erb :'homepage/modals/rayna-video' %>
    <%= erb :'homepage/modals/educator-login' %>
  	<!-- modals end -->

		

<script src="//fast.wistia.com/embed/medias/o1jnolxt2b.jsonp" async></script><script src="//fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_o1jnolxt2b videoFoam=true" style="height:100%;width:100%">&nbsp;</div></div></div>


<div>

<section class="rmp-banner">
	<div class="pure-u-1">
		<img src="/images/case-study/rmp-logo.png" alt="" class="centered">
		<div class="main-quote centered">
			<h1>"We can't expect families to read
				when they don't have the time or resources."
			</h1>
			<h2 class="citation">Angelin Thompson</h2>
			<h2 class="citation">Academic Director</h2>
		</div>
	</div>


	<div class="pure-u-md-3-5 more-info">
		<p>Rocky Mountain Prep works to get <b>every family reading at home.</b> School leaders and teachers focus on literacy as the early foundation for all grades to come.</p>

		<p><b>The challenge</b> school leaders faced was getting books to all families and knowing they actually read, without extra work for teachers.</p>

		<p><b>Today</b>, RMP gets families reading and building literacy through StoryTime. That's shown:</p>

		<ul>
			<li><b>More reading:</b> 96% of families on StoryTime reading 3 times a week.</li>
			<li><b>Literacy impact:</b> improved phonological awareness, comprehension, and print knowledge.</li>
			<li><b>Engaged families:</b> most parents reporting significantly stronger relationships with teachers.</li>
		</ul>
		
	</div>
	
</section>


<section class="section-divider" id="part-1">
	<div class="circle-title">
		<p>Part 1</p>
	</div>
	<h2>The Challenge of Reading at Home.</h2>
</section>

<section class="reading-challenges">
	<div class="pure-u-1">
		<div class="main-quote centered">
			<h1>"By the time the day is done, and kids are fed, and baths are had, there's really just exhaustion. And no-one has time to read."</h1>
			<h2 class="citation">Angelin Thompson</h2>
			<h2 class="citation">Academic Director</h2>
		</div>
	</div>

	<div class="pure-u-md-3-5 more-info">
		<p>Teachers, school leaders, and families at Rocky Mountain Prep saw many challenges to reading at home.</p>

		<p class="testimony-sub"><i>Youku, RMP mother:</i> "Last year as a parent was really hard for me. I have to work from 6 to 6, and then when I get home I have to find books. And sometimes we don't get to those books."</p>

		<p class="testimony-sub"><i>Angelin Thompson, Academic Director:</i> "When you're choosing between getting food on the table or paying your rent, books are not a necessity for most families that are struggling."</p>
	</div>
</section>


<section class="section-divider" id="part-2">
	<div class="circle-title">
		<p>Part 2</p>
	</div>
	<h2>Building Reading Habits, Easy.</h2>
</section>


<section class="reading-habits">
	<div class="pure-u-1">
		<div class="main-quote centered">
			<h1>"It's just a no brainer. There's literally no lift on the teacher."</h1>
			<h2 class="citation">Angelin Thompson</h2>
			<h2 class="citation">Academic Director</h2>
		</div>
	</div>

	<div class="pure-u-md-3-5 more-info">
		<p>Teachers and school leaders used StoryTime as an easier way to get families reading at home.</p>
		<div class="main-quote">
			<h1 class="testimony-sub" id="inner-main-quote">"They're books that I don't have to copy, I don't have to find, I don't have to send them home and worry about if they come back, I don't have to have a check-in check-out system."</h1>
				<h2 class="citation">Angelin Thompson</h2>
				<h2 class="citation">Academic Director</h2>
		</div>

		<p class="testimony-sub"><i>Youku, RMP mother:</i> "All you have to do is take your phone and tell your child to come and sit. You don't have to do too much. <b>Especially as a single parent at home, it's really helpful for me.</b>"</p>
	</div>
</section>

<section class="section-divider" id="part-3">
	<div class="circle-title">
		<p>Part 3</p>
	</div>
	<h2>The results</h2>
</section>


<section class="the-results">
	<div class="pure-u-1">
		<div class="main-quote centered">
			<h1 class="bigger-lines">"That I've been able to offer our Pre-K something of this magnitude <b>makes my job a lot easier</b>, because then <b>I don't have to worry about remediation</b>."</h1>
			<h2 class="citation">Angelin Thompson</h2>
			<h2 class="citation">Academic Director</h2>
		</div>
	</div>

	<div class="pure-u-md-3-5 more-info">
		<p>Teachers and school leaders used StoryTime as an easier way to get families reading at home.</p>
	
		<p class="testimony-sub"><i>Angelin Thompson, Academic Director:</i> "To give parents an opportunity to bond around literacy and to just be close with their kid- it's just an amazing thing to be able to give that to families. You're actually touching lives. <i>It's everything that we hoped would happen.</i>"</p>
		

		<p class="testimony-sub"><i>Youku, RMP mother:</i> "She laughs, she points at the pictures. She just talks and talks, and sometimes she'll read when I read to her. She's very happy, and that makes me happy."</p>
	</div>
</section>


<section class="key-results">
	<h1>Key Results</h1>
	<div class="pure-g">
		<div class="pure-u-1 pure-u-md-1-3">
			<div class="inner-wrapper">
				<h3><span><img src="/images/icons/check-mark.png" alt=""></span>More Reading</h3>
				<p>96% of RMP StoryTime families are reading <b>3 times a week</b></p>
			</div>
		</div>
		<div class="pure-u-1 pure-u-md-1-3">
			<div class="inner-wrapper">
				<h3><span><img src="/images/icons/check-mark.png" alt=""></span>Increased Literacy</h3>
				<p><b>Increased</b> phonological awareness, comprehension, and print knowledge skills.</p>
			</div>
		</div>
		<div class="pure-u-1 pure-u-md-1-3">
			<div class="inner-wrapper">
				<h3><span><img src="/images/icons/check-mark.png" alt=""></span>Engaged Families</h3>
				<p>Most families report stronger relationships and more support from their teacher.</p>			
			</div>
		</div>

	</div>


</section>


</div> <%# container %>











<!-- David's shit END -->















				<h1 class="banner" id="call-to-action">Get more information about StoryTime.</h1>

							<div class="demo">

				              <a href="mailto:phil@joinstorytime.com">
					              <button type="button" style="width:11em;" class="demo-request-button btn btn-primary btn-lg pure-button pure-button-primary get_update dialog-button" id="start-modal-button">
					                Contact us
					              </button>
				              </a>
							</div>


			

<!-- begin olark code -->
<script type="text/javascript" async> ;(function(o,l,a,r,k,y){if(o.olark)return; r="script";y=l.createElement(r);r=l.getElementsByTagName(r)[0]; y.async=1;y.src="//"+a;r.parentNode.insertBefore(y,r); y=o.olark=function(){k.s.push(arguments);k.t.push(+new Date)}; y.extend=function(i,j){y("extend",i,j)}; y.identify=function(i){y("identify",k.i=i)}; y.configure=function(i,j){y("configure",i,j);k.c[i]=j}; k=y._={s:[],t:[+new Date],c:{},l:a}; })(window,document,"static.olark.com/jsclient/loader.js");
/* custom configuration goes here (www.olark.com/documentation) */
olark.identify('9084-375-10-8744');</script>
<!-- end olark code -->			

	</body>
	<%= erb :'components/footer' %> 


</html>